{% extends "layout.html" %}
{% block content %}

{% if form.errors %}
<div class="container errors rnd-xl border-light">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <div class="px-5 mx-5 alert alert-light bg-red border-0 alert-dismissible fade show rnd-3xl" role="alert">
            <strong>

                <p class="text-lg my-1">
                <i class="text-xl fa{{ icons(form[field_name].id) }} fa-fw animated infinite heartBeat mr-2"></i>
                {{ form[field_name].label }}: {{ error }}</p>
            </strong>
        {{msg}}
        <button type="button" class="close text-2xl text-light" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>        
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
      <fieldset class="form-group">

        <form method="POST" action="">
          {{ form.hidden_tag() }}

          {% for field in form %}
          {% if field.id == 'csrf_token' %}
          {% elif field.id == 'img_url' %}
          ...
          {% elif field.id == 'submit' %}
            {{field(class="btn btn-outline-light btn-block bg-theme shd-theme mr-2" )}}
          {% else %}
            <p class="text-monts text-lg text-center my-0">
              {{field.label}}
            </p>
  
            <div class="form-group align-items-center mb-4">
              <div class="input-group mx-2 mb-0 text-comfo">
                <div class="input-group-prepend add-anime">
                  <span class="input-group-text bg-theme  text-light text-bold" id="inputGroupPrepend">
                    <i class="fa{{icons(field.id)}} fa-fw ml-2 mt-0"></i>
                  </span>
                </div>
                {{field(class="form-control form-control-dark form-control-lg shd-theme mr-2" )}}
              </div>
  
            </div>

          {% endif %}

          {% endfor %}
        </form>
      </fieldset>

{% endblock content %}
