<div class="panel panel-asym mini shadow-lg pb-0">
  <div class="panel-header panel-header-primary panel-header-icon">
    <div class="panel-icon img-shd opac-70 shadow">
      <i class="fas fa-cogs fa-fw text-light text-shdlite"></i>
    </div>
    <h3 class="panel-title text-right mt-4">User Model</h3>
    <hr class="my-0 opac-50 border-med">
    <p class="text-right text-muted text-italic text-sm mr-2">
      Interactive model, click/tap on quadrants for next step.
    </p>
  </div>

  <div class="sun text-center" id="sunburst">
  </div>

</div>
