{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-sm-3">
		<img
			class="card-img-top mb-2"
			src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_top.ico"
			alt=""
		/>
		<div class="container-fluid text-center px-0" style="text-center">
			<div class="card text-center border-body bg-body px-0 mx-0 py-1 my-1">
				<div class="card-body text-center mb-1 px-2 py-1">
					<img
						class="card-img-top text-center"
						src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_mainLogo.ico"
						style="max-width: 12em;"
						alt=""
					/>
					<i class="fas fa-clipboard-list text-left fa-2x"></i>
					Welcome to NDO! A free web/mobile app that turns your TODO list or
					daily schedule into fun games!
				</div>
				<div
					class="card-footer text-muted bg-body border-dark p-0 pt-1 mt-2 mb-0"
				>
				</div>
			</div>
		</div>

		<img
			class="card-img-top mb-2"
			src="https://raw.githubusercontent.com/attila5287/task_app_img/master/peak2deep_bottom.ico"
			alt=""
		/>
	</div>
	<div class="col-sm-9">
		<div id="myCarousel" class="carousel slide mt-3" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class=""></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item">
					<img
						class="first-slide"
						src="https://tse2.mm.bing.net/th?id=OIP.h16pcRJr-pY6MNknBg0hgwHaFj&pid=15.1200&"
						alt="First slide"
					/>
					<div class="container">
						<div class="carousel-caption text-left py-1 my-0">
							<h1>
								Module01
							</h1>
							<p>
								User fills out the forms to provide info
                                <br />
                                <i class="fas fa-arrow-down"></i><br />
								<i class="fas fa-asterisk    "></i>
								PostgreSQL database <i class="fas fa-database fa-1x"></i> has
								been used to read and store
							</p>
							<p>
								<a
									class="btn btn-lg btn-primary bg-grass"
									href=""
									role="button"
									>Module01!</a
								>
							</p>
						</div>
					</div>
				</div>
				<div class="carousel-item active">
					<img
						class="second-slide"
						src="https://tse2.mm.bing.net/th?id=OIP.h16pcRJr-pY6MNknBg0hgwHaFj&pid=15.1200&"
						alt="Second slide"
					/>
					<div class="container">
						<div class="carousel-caption py-1 my-0">
							<h1>Module 02</h1>
							<p>
								Forms page collect data from user (via extension Flask-WTF)
								<br /><i class="fas fa-arrow-down"></i>
								<br />
								(db.Model) init all attributes:(DOM by ext SQL-Alchemy)
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> 
                                PostgreSQL stores record in a different table with Foreign Key to User <br /><i class="fas fa-arrow-down"
								></i
								>
							</p>
							<p>
								<a
									class="btn btn-lg btn-primary bg-gold"
									href=""
									role="button"
									>Learn more</a
								>
							</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img
						class="third-slide"
						src="https://tse2.mm.bing.net/th?id=OIP.h16pcRJr-pY6MNknBg0hgwHaFj&pid=15.1200&"
						alt="Third slide"
					/>
					<div class="container">
						<div class="carousel-caption text-right py-1 my-1">
							<h1>
								Utils, Icons, Code Repo
							</h1>
							<p>
								<i class="fas fa-arrow-right    "></i> Registered users saves
								preferences along with their scores<br />
								<i class="fas fa-lock mr-2"></i> Encrypted data storage
								<i
									class="fa fa-level-up-alt fa-flip-horizontal"
									aria-hidden="true"
								></i>
								<i class="fas fa-level-down-alt fa-rotate-90 mr-3"></i>
								<br />
								<i class="fas fa-arrow-right    "></i> Github: check code or
								dont hesitate to request fork if any ideas
								<i class="fas fa-code-branch    "></i>
								<br />
								<i class="fas fa-arrow-right    "></i>
								Take a peek at tailor-made icons, images, graphics etc. on
								github repo task_app_img
								<i class="fas fa-paint-roller    "></i>
								<i class="fas fa-paint-brush    "></i>
							</p>
							<p>
								<a
									class="btn btn-lg btn-primary bg-sky"
									href="https://github.com/attila5287/no_days_off"
									role="button"
									>ShowMeTheCode</a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<a
				class="carousel-control-prev"
				href="#myCarousel"
				role="button"
				data-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a
				class="carousel-control-next"
				href="#myCarousel"
				role="button"
				data-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="card-columns">
			<!-- TASK HERO -->
			<div class="card">
				<img class="card-img-top bg-body rounded-0" src="https://raw.githubusercontent.com/attila5287/task_app_img/master/aboutInfoCards01.PNG" alt="">
				<div class="card-body bg-body">
					<h4 class="card-title">Module01</h4>
					<p class="card-text">First module introduction to visitor</p>
				</div>
			</div>

			<!-- PRODAY -->
			<div class="card">
				<img class="card-img-top bg-body rounded-0" src="https://raw.githubusercontent.com/attila5287/task_app_img/master/aboutInfoCards02.PNG" alt="">
				<div class="card-body bg-body">
					<h4 class="card-title">Module02</h4>
					<p class="card-text">
						Second module introduction to visitor
					</p>
				</div>
			</div>

			<!-- ACCOUNT-EDIT -->
			<div class="card">
				<img class="card-img-top bg-body rounded-0" src="https://raw.githubusercontent.com/attila5287/task_app_img/master/aboutInfoCards03.PNG" alt="">
				<div class="card-body bg-body">
					<h4 class="card-title">User Features</h4>
					<p class="card-text">Register to enjoy cool features. Users could also upload a profile picture.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock content %}
