{% extends "layout.html" %}
{% block content %}
<div class="card bg-transparent p-0 pb-3 m-0">
  <div class="card-body">
  <div class="row">
      <div class="col-sm-3 offset-sm-1 text-center content-section">
    <img class="card-img bg-transparent border-0"
          src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{ current_user.img_url }}.png"
          style="max-width: 10rem;">
  
          <div id="img_url_index" class="bg-black text-center text-digi text-2xl text-primary my-2">
      <i class="fas fa-hashtag text-primary ml-2  mt-2 fa-pull-left" aria-hidden="true"></i>
      <span class="index">0
      </span>
          </div>
          <p class="text-robo text-center mb-0 text-italic text-light text-xs py-0">
      <i class="fas fa-caret-down text-2xl text-secondary mt-2 animated infinite bounceIn delay-1s"
      aria-hidden="true"></i>
          </p>
    <div id="img_on_air">
          <img class="card-img bg-transparent border-0"
      src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{ current_user.img_url }}.png"
      style="max-width: 12rem;">
    </div>
        
    <form method="get" action="">
    <a type="button" id="set-as-profile-pic"
    data="set/profile/picture/{{current_user.id}}/"
          data-title="set/profile/picture/{{current_user.id}}/"
          class="set_profile_pic btn btn-dark btn-outline-light btn-block bg-theme text-light text-sm text-bold my-2">
          Set as profile pic!
    </a>
      </form>
  
      </div>
      <div class="col-sm-6 offset-sm-1">
    {% if form.errors %}
<div class="container errors rnd-xl border-light">
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
  {% for error in field_errors %}
  <div class=" py-1 alert alert-warning bg-gradient-danger add-anime border-0 alert-dismissible fade show rnd-xl" role="alert">
        <p class="text-primary text-italic text-md  my-1">
          <i class="text-2xl fas fa-exclamation fa-fw animated infinite heartBeat text-theme rnd-sm px-2 py-1"></i>
          <i class="text-xl text-primary fa {{ icons(form[field_name].id) }} fa-fw"></i>
        {{ form[field_name].label }}: {{ error }}</p>
    {{msg}}
    <button type="button" class="close text-2xl text-danger" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>        
  {% endfor %}
  {% endfor %}
</div>
{% endif %}
<div class="row">
  <div class="col" name="form-part">
    <div class="content-section pl-4 pt-3 pr-0">
      <fieldset class="form-group">
        <form method="POST" action="">
          {{ form.hidden_tag() }}

            <p class="text-monts text-md text-center my-0">
              {{form.username.label}}
            </p>
  
            <div class="form-group align-items-center mb-4">
              <div class="input-group mx-2 mb-0 text-comfo">
                <div class="input-group-prepend add-anime">
                  <span class="input-group-text bg-theme  text-light text-bold" id="inputGroupPrepend">
                    <i class="fa{{icons(form.username.id)}} fa-fw ml-2 mt-0"></i>
                  </span>
                </div>
                {{form.username(class="form-control form-control-dark form-control-lg shd-theme mr-2" )}}
              </div>
              
              <p class="text-monts text-md text-center my-0">
                {{form.email.label}}
              </p>
    
              <div class="form-group align-items-center mb-4">
              <div class="input-group mx-2 mb-0 text-comfo">
                <div class="input-group-prepend add-anime">
                  <span class="input-group-text bg-theme  text-light text-bold" id="inputGroupPrepend">
                    <i class="fa{{icons(form.email.id)}} fa-fw ml-2 mt-0"></i>
                  </span>
                </div>
                {{form.email(class="form-control form-control-dark form-control-lg shd-theme mr-2" )}}
              </div>
              
              <div class="form-group align-items-center mb-4">
                {{form.submit(class="btn btn-outline-light btn-block text-lg bg-theme shd-theme mt-3 mr-2 pt-2 pb-3" )}}
            </div>
        </form>
      </fieldset>
      </form>
    </div>
  </div>
</div>

      </div>
  </div>
  </div>
</div>
{% endblock %}

