{% extends "layout.html" %}
{% block content %}
  <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="row text-center">
          <div class="col-3 text-center content-section">
            <img class="card-img bg-transparent border-0"
                  src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{ current_user.img_url }}.png"
                  style="max-width: 10rem;">
            <div id="img_url_index" class="bg-black text-center text-digi text-2xl text-primary my-2">
          <i class="fas fa-hashtag text-primary ml-2  mt-2 fa-pull-left" aria-hidden="true"></i>
          <span class="index">0
          </span>
            </div>
        <div id="img_on_air">
          <img class="card-img bg-transparent border-0"       src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{ first_random }}.png"
          style="max-width: 12rem;">
        </div>
      
              
        <form method="get" action="">
        <a type="button" id="set-as-profile-pic"
        data="set/profile/picture/{{current_user.id}}/"
              data-title="set/profile/picture/{{current_user.id}}/"
              class="set_profile_pic btn btn-dark btn-outline-light btn-block bg-theme text-light text-sm py-2">
              <i class="fas fa-image animated infinite bounceIn delay-1s"
          aria-hidden="true"></i>
              Set as profile pic!
        </a>
          </form>
      
          </div>
          <div class="col">
            {% if form.errors %}
            <div class="container errors rnd-xl border-light">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
              <div class="w-75 opac-90 px-2 py-1 alert alert-info content-section add-anime border-0 alert-dismissible fade show rnd-xl" role="alert">
                <i class="text-3xl text-theme fas fa-exclamation fa-pull-left animated infinite heartBeat  rnd-sm mt-3 ml-3 mr-3"></i>
                  <p class="text-comfo text-info text-italic text-md text-bold border-thembo my-0 px-0 pt-1 pb-0 mb-0 ml-3 pl-3  w-50 rnd-2xl">
                    <i class="text-info fa {{ icons(form[field_name].id) }} fa-fw p-0 m-0"></i>
                    {{ form[field_name].label }}
                </p>
                    <blockquote class="blockquote text-bold text-left ml-4">
                      <footer class="blockquote-footer text-italic text-info ">{{ error }}</footer>
                    </blockquote>
                <button type="button" class="close text-2xl" data-dismiss="alert" aria-label="Close">
                  <i class="fas fa-times text-theme"></i>
                </button>
              </div>        
              {% endfor %}
              {% endfor %}
            </div>
            {% endif %}
            <div class="row">
              <div class="col" name="form-part">
                <div class="content-section pl-4 pt-5 pr-0">
                  <fieldset class="form-group">
                    <form method="POST" action="">
                      {{ form.hidden_tag() }}
            
                        <p class="text-monts text-md text-center my-0">
                          {{form.username.label}}
                        </p>
              
                        <div class="form-group align-items-center mb-4">
                          <div class="input-group mx-2 mb-0 text-comfo">
                            <div class="input-group-prepend add-anime">
                              <span class="input-group-text bg-theme  text-light text-bold" id="inputGroupPrepend">
                                <i class="fa{{icons(form.username.id)}} fa-fw ml-2 mt-0"></i>
                              </span>
                            </div>
                            {{form.username(class="form-control form-control-dark form-control-lg shd-theme mr-2" )}}
                          </div>
                          
                          <p class="text-monts text-md text-center my-0">
                            {{form.email.label}}
                          </p>
                
                          <div class="form-group align-items-center mb-4">
                          <div class="input-group mx-2 mb-0 text-comfo">
                            <div class="input-group-prepend add-anime">
                              <span class="input-group-text bg-theme  text-light text-bold" id="inputGroupPrepend">
                                <i class="fa{{icons(form.email.id)}} fa-fw ml-2 mt-0"></i>
                              </span>
                            </div>
                            {{form.email(class="form-control form-control-dark form-control-lg shd-theme mr-2" )}}
                          </div>
                          
                          <div class="form-group align-items-center mb-4">
                            {{form.submit(class="btn btn-outline-light btn-block text-lg bg-theme shd-theme mt-3 mr-2 pt-2 pb-3" )}}
                        </div>
                    </form>
                  </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>

  </div>

{% endblock %}

