{% extends "layout.html" %}
{% block content %}
<div class="container-sm content-section col-10 offset-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <fieldset class="form-group">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
    
            {% for field in form %}
            {% if field.id == 'csrf_token' %}
            <i class="text-hide">CSRF TOKEN</i>
            {% elif field.type == 'SubmitField' %}
            {{field(class="btn btn-block btn-outline-light bg-theme mb-0 mr-2" )}}                    
            {% elif field.type == 'SelectField' %}
            <div class="form-row align-items-center mb-4">
    
                <div class="col-2">
                    <p class="text-monts text-sm text-right my-0">
                        {{field.label}}
                    </p>
                </div>
                <div class="col">
                    <div class="input-group mx-2 mb-0 text-comfo">
                        <div class="input-group-prepend add-anime">
                            <span class="input-group-text bg-theme  text-light text-bold"
                                id="inputGroupPrepend">
                                <i class="fa{{icons(field.id)}} fa-fw ml-2 mt-0"></i>
                            </span>
                        </div>
                        {{field(class="form-control form-control-dark shd-theme mr-2" )}}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="form-row align-items-center mb-4">
    
                <div class="col-2">
                    <p class="text-monts text-sm text-right my-0">
                        {{field.label}}
                    </p>
                </div>
                <div class="col">
                    <div class="input-group mx-2 mb-0 text-comfo">
                        <div class="input-group-prepend add-anime">
                            <span class="input-group-text bg-theme  text-light text-bold"
                                id="inputGroupPrepend">
                                <i class="fa{{icons(field.id)}} fa-fw ml-2 mt-0"></i>
                            </span>
                        </div>
                        {{field(class="form-control form-control-dark form-control-sm mb-0 shd-theme mr-2" )}}
                    </div>
                </div>
            </div>
    
            {% endif %}
    
            {% endfor %}
        </form>           
    </fieldset>
    </div>
{% endblock content %}
