{% extends "layout.html" %}
{% block content %}

<style></style>

<div class="text-center" name="pagination-users">
{% for page_num in users.iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if users.page == page_num %}

  <a class="btn btn-outline-secondary mb-4 shadow-lg border-secondary text-lg" href="{{ url_for('admins.users_table',  page=page_num,) }}">
    {{ page_num }}
  
  </a>

  {% else %}
  <a class="btn btn-sm btn-secondary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.users_table', page=page_num) }}">{{ page_num }}</a>
  {% endif %}

{% else %}
...
{% endif %}
{% endfor %}
</div>

{% set headers = [
  'id',
  'username',
  'email',
  'image_file',
  'img_url',
  'make_member',
  'make_admin',
  'make_prez',
  'member_request',
  'admin_request',
  'prez_request',
  'user_message',
  'admin_notes',
] %}

<div class="table-responsive" name="table-usr">
  <table class="table table-hov3r table-light table-bordered rnd-2xl shadow">
    <thead>
      <tr>
        {% for header in headers %}
          <th class="bg-primary text-comfo text-nonbold text-light text-center pt-2 pb-3 border-right align-top"> 
            <i class="text-xl fa{{icons(header)}}" aria-hidden="true"></i>
            
            {{ header.title().replace("_"," ") }}
            
          </th>
        {% endfor %} 
      </tr>
    </thead>
    <tbody>
      
      {% for user in table %}

      <tr> 

        {% set rowloop = loop %}

        {% for k,v in user.items() %}
        
          {% if k == "id" %} 
          
          <td class="bg-primary text-light text-md" id="cell-{{ rowloop.index }}-{{ loop.index }}" scope="row" style="vertical-align: middle;">
            {{ v }}
          </td>
          
          {% elif k =="image_file"  %}
          
          <td class=" bg-primary text-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}" >
            <img class="rnd-xl border-0 m-0 p-0" src="https://raw.githubusercontent.com/attila5287/rota-img/main/profile_pics/{{v}}" alt="img" style="max-height: 2.75rem;"
            >
          </td>
          
          {% elif k =="img_url" %}
          
          <td class="text-center bg-primary"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <img class="border-0 m-0 p-0 opac-80 rounded-circle" src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{v}}.png" alt="img"
            style="max-height: 1.75rem;"
            >
          </td>
          

          {% elif k in [ "linkedin", "twitter", "instagram",] %}
          <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
          <a class="text-center" href="{{user[k]}}">
            
            <i class="text-lg fab fa-{{k}}" aria-hidden="true"></i>

          </a>

          </td>


          {% elif k ==  "gender" %}
          {% set gender_dict = {
            "f" : "female",
            "m" : "male",
          } %}

          <td class="pl-2 bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            <i class="text-2xl fas fa-{{  gender_dict[v] }}"></i>
          </td>
          

          {% elif k ==  "password" %}
          {% elif k ==  "is_member" %}
          {% elif k ==  "is_admin" %}
          {% elif k ==  "is_prez" %}
          
          
          {% else %}
            
            <td class="text-md text-dark bg-dark{{rowloop.cycle('odd', 'even')}}" id="cell-{{ rowloop.index }}-{{ loop.index }}" >
              {{ v }}
            </td>
          
          {% endif %}

          {% endfor %}
            <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"> 

              {% if not user.is_member == "y" %}
              <span>
                <a href="{{url_for('admins.approve_member', id= user.id)}}">
                  <i class="text-2xl fas fa-user-check text-lg"></i>
                </a>
              </span>
              {% else %}
                <span>
                  <a href="{{url_for('admins.cancel_member', id= user.id)}}">
                    <i class="text-2xl fas fa-user-slash text-lg text-secondary text-center"></i>
                  </a>
                </span>
              {% endif %}

            </td>

            <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"> 

              {% if not user.is_admin == "y" %}
              <span>
                <a href="{{url_for('admins.approve_admin', id= user.id)}}">
                  <i class="text-2xl fas fa-user-md text-lg"></i>
                </a>
              </span>
              {% else %}
                <span>
                  <a href="{{url_for('admins.cancel_admin', id= user.id)}}">
                    <i class="text-2xl fas fa-user-slash text-lg text-secondary text-center"></i>
                  </a>
                </span>
              {% endif %}

            </td>            

            <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"> 

              {% if not user.is_prez == "y" %}
              <span>
                <a href="{{url_for('admins.approve_prez', id= user.id)}}">
                  <i class="text-2xl fas fa-user-graduate text-lg"></i>
                </a>
              </span>
              {% else %}
                <span>
                  <a href="{{url_for('admins.cancel_prez', id= user.id)}}">
                    <i class="text-2xl fas fa-user-slash text-lg text-secondary text-center"></i>
                  </a>
                </span>
              {% endif %}
            </td>

            {% for label, list in user_requests.items() %}
              {% if user.id in list %}
              
              <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}">

                
                {% set req_btns = [
                  ('', 'decline request', 'gavel', 'danger', ),
                  ('', 'leave a note', 'sticky-note', 'secondary', ),
                  ]  %}

                <div class="btn-group" role="group" aria-label="Button group">

                  {% for href, tooltip, icon, style in req_btns  %}
                    <a class="btn pt-0 pb-1 px-1 border-0 btn-{{style}} rnd-lg opac-80" type="button"
                    data-toggle="tooltip" data-placement="right" title="{{tooltip}}">
                      <i class="fas fa-{{icon}} text-shdlite text-lg fa-fw"></i>
                    </a>
                  {% endfor %}

                </div>
                
                {% set req_btns = [
                  ('', 'pending review', 'balance-scale', 'info', ),
                  ('', 'approve', 'stamp', 'primary', ),
                  ]  %}

                <div class="btn-group mt-1" role="group" aria-label="Button group">

                  {% for href, tooltip, icon, style in req_btns  %}
                    <a class="btn pt-0 pb-1 px-1 border-0 btn-{{style}} rnd-lg opac-80" type="button"
                    data-toggle="tooltip" data-placement="right" title="{{tooltip}}">
                      <i class="fas fa-{{icon}} text-shdlite text-lg fa-fw"></i>
                    </a>
                  {% endfor %}

                </div>
                
              </td>
              
              {% else %}
              
              <td class="p-0 text-center bg-dark{{rowloop.cycle('odd', 'even')}}"> 
                <i class="fas fa-ellipsis-h text-lg opac-70" data-toggle="tooltip" data-placement="right" title="user has no request"></i>
              </td>

              {% endif %}
            {% endfor %}
            
            <td class="p-0 text-center bg-dark{{rowloop.cycle('odd', 'even')}}">
              <a class="fas fa-book-open text-lg" href="#"></a>
            </td>
            
            <th class="p-0 text-center bg-primary">
              <form method="POST" action="/a/{{current_user.id}}/n/{{user.id}}">
                {{form.content(class="form-control form-control-sm")}}
              {{form.submit(class="form-control form-control-sm")}}
              </form>
              
            </th>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>  
</div>

<div class="d-flex flex-row">
  <nav class="nav nav-fill col-8 offset-2">
    
    {% set table_legend = [
      ('make admin','user-md', 'primary', ), 
      ('make member','user-check', 'primary', ), 
      ('cancel memb/adm/prez','user-slash', 'secondary', ), 
      ('make prez','user-graduate', 'primary', ), 
      ('user notes','book-open', 'dark opac-50', ), 
      ('admin notes','sticky-note', 'primary', ), 
    ]  %}
  
    {% for info,icon,style in table_legend %}
    
      <li class="nav-item text-italic text-sm">
        <a class="nav-link disabled mb-0">
          <button class="btn btn-{{style}} p-1 mb-0" type="button">
            <i class="fas fa-{{icon}} fa-fw"></i>
          </button>
        </a>
        {{info}}
      </li>
 
    {% endfor %}

  </nav>
</div>

<div class="d-flex flex-row">
  <nav class="nav nav-fill col-8 offset-2">
    
    {% set table_legend = [
      ('decline request','gavel', 'danger', ), 
      ('note for board', 'sticky-note', 'secondary', ),
      ('pending review', 'balance-scale', 'info', ),
      ('approve request','stamp', 'primary', ),
    ]  %}
  
    {% for info,icon,style in table_legend %}
    
      <li class="nav-item text-italic text-sm">
        <a class="nav-link disabled mb-0">
          <button class="btn btn-{{style}} p-1 mb-0" type="button">
            <i class="fas fa-{{icon}} fa-fw"></i>
          </button>
        </a>
        {{info}}
      </li>
 
    {% endfor %}

  </nav>
</div>

{% endblock %}

