i
{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
{% set current_user_id = current_user.id %}
{% else %}
{% set current_user_id = 1 %}
{% endif %}
<div name="go-back2-users" class="mini mb-0">
  <a class="btn btn-outline-primary btn-block shadow py-2 text-bold"
    type="button" href="/a/t/u" name="go-to-adm-tbl-users">
    <h4 class="fas fa-table align-self-center text-primary">
      <i class="text-lg text-nonbold">
        <strong>users</strong>
      </i>
    </h4>
  </a>
</div>
<div name="dynamic-filter-buttons" class="mini mt-0">

  <div class="panel panel-asym pb-3 text-center mb-0">
    {% set filter_buttons = [
      ('m', 'primary', 'member', ),
      ('a', 'secondary', 'admin', ),
      ('p', 'info', 'prez', ),
      ] %}

    <div name="filter-icons"
      class="d-flex flex-row justify-content-around mb-0">
      {% for id,style, filter_k in filter_buttons %}
      {% if filter_k in categories %}
      
      <span id="filter_icon_{{id}}"  class="text-nowrap mb-0">
        <i class="text-2xl text-{{style}} mb-0">{{filter_k}}</i>
        <i class="text-2xl text-{{style}} fas fa{{icons(filter_k)}} text-2xl">
        </i>
      </span>

      {% else %}
      <span id="filter_icon_{{id}}"  class="text-nowrap mb-0 opac-30">
        <i class="text-2xl text-{{style}} mb-0">{{filter_k}}</i>
        <i class="text-2xl text-{{style}} fas fa{{icons(filter_k)}} text-2xl">
        </i>
      </span>
      {% endif %}
      {% endfor %}
    </div>
    <div name="filter-buttons-container" class="row no-gutters">
      {% for id,style, filter_k in filter_buttons %}
      <div class="col-4" id="filter_box_{{id}}">
        
        {% if filter_k in categories %}
        
        <div class="filter_btn filter_btn_{{id}} btn btn-{{style}} rnd-xl btn-block shadow" data-category="{{id}}"
          data-name="{{filter_k}}">
          filter out
        </div>
        
        {% else %}
        
        <div
          class="filter_btn filter_btn_{{id}} btn btn-outline-{{style}} rnd-xl btn-block shadow clincluder" data-category="{{id}}" data-name="{{filter_k}}">
          filter in
        </div>

        {% endif %}

      </div>

      {% endfor %}

    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mt-3 mb-2">
      <i class="fas fa-search-plus text-xl text-primary mr-3"></i>
      <p id="filtered_categories" class="mt-2 mb-0 text-center text-italic"> included categories below</p>

      <a href="/a/all/r" class="btn btn-sm btn-warning ml-3 shadow-sm">
        <i class="fas fa-undo text-sm"></i>
      </a>      
      <i class="text-muted ml-1">reset</i>
    </div>
    <div id="filter_submit_box">
      <a id="filter_submit_btn"  class="filter_submit_btn btn btn-primary btn-block text-lg text-comfo shadow mt-1"
      href="/admin/amp/requests">
      admin, member and prez
    </a>
    
  </div>
  </div>
</div>

<div name="href-filter-buttons" class="mini">
  <div class="panel panel-asym pb-3 text-center mb-0">
    <div class="btn-group" role="group">
      {% set filter_buttons = [
      ('m', 'primary', 'member', ),
      ('a', 'secondary', 'admin', ),
      ('p', 'info', 'prez', ),
      ] %}
      {% for href,style, filter_k in filter_buttons %}
  
      {% if filter_k in categories %}
      <a class="btn btn-{{style}} 
      rnd-2xl click-listener shadow" href="/admin/{{href}}/requests/">
        <i class="fas fa{{icons(filter_k)}} text-xl"></i>
        <hr class="border-light my-0 mx-2">
        <hr class="border-light border-med opac-50 my-0 mx-3">
        <hr class="border-light border-med opac-30 my-0 mx-5">
        <i>{{filter_k}}</i>
      </a>
      {% else %}
      <a class="btn btn-outline-{{style}} 
      rnd-2xl click-listener shadow" href="/admin/{{href}}/requests/">
        <i class="fas fa{{icons(filter_k)}} text-xl"></i>
        <hr class="border-light my-0 mx-2">
        <hr class="border-light border-med opac-50 my-0 mx-3">
        <hr class="border-light border-med opac-30 my-0 mx-5">
        <i>{{filter_k}}</i>
      </a>
      {% endif %}
  
      {% endfor %}
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mt-2">
      <i class="fab fa-searchengin text-3xl text-primary mr-3"></i>
      <p class="mt-2 mb-0 text-center text-italic"> one category at a time</p>
      <a href="/a/all/r" class="btn btn-sm btn-warning ml-3 shadow-sm">
        <i class="fas fa-undo text-sm">
        </i>
      </a>
      <i class="text-muted ml-1">reset</i>
        </div>
      </div>
</div>

<div name="legend-requests" class="mini mb-0">
  <div class="d-flex flex-row justify-content-around mb-0">
    <i>status</i>
    <i>category</i>
  </div>
  <nav class="nav nav-fill my-0">

    {% set legend = [
        ('declined','gavel', 'danger', ), 
        ('pending', 'balance-scale', 'info', ),
        ('approved','stamp', 'primary', ),
        ('admin','user-md', 'dark opac-50', ), 
        ('member','user-check', 'dark opac-50', ), 
        ('prez','user-graduate', 'dark opac-50', ), 
        ]  %}

    {% for info,icon,style in legend %}

    <li class="nav-item text-italic text-sm py-0">
      <a class="nav-link disabled mb-0">
        <button class="btn btn-{{style}} btn-sm mb-0" type="button">
          <i class="fas fa-{{icon}} fa-fw"></i>
        </button>
      </a>
      {{info}}
    </li>

    {% endfor %}

  </nav>
</div>
<hr>
<div class="mini" name="MAIN-requests-notes">
{% for user_id, user_requests in disp_reqs.items() %}
  {% for category, sorted in user_requests.items() %}
  {% if user_id in requestors %}
  <div name="user-header" class="d-flex flex-row justify-content-between"
    name="user-section-header">

    <a class="btn btn-outline-primary border-0 btn-sm p-1"
      href="/admin/all/requests/{{user_id}}">
      Show Only: User {{user_id}}
    </a>

    category: {{category}}
    <a class="btn btn-outline-primary btn-sm border-0 p-1"
      href="/admin/all/requests" data-toggle="tooltip" data-placement="bottom"
      title="go back to table-only view">
      <i class="far fa-user text-md">
        <strong>{{user_id}}</strong>
      </i>
    </a>

  </div>

  {% for obj in sorted %}
  {% if obj.type == 'req' %}
  {% set req = obj  %}
  <div class="media mt-2 rnd-xl p-0 add-anime shadow">
    <h1
      class="fa{{icons(req.category)}} opac-70 txt-shd text-center align-self-center mx-4">
    </h1>
    <div class="media-body pb-2 pt-0" style="vertical-align: middle;">
      <div class="d-flex flex-row justify-content-between">
        <h6 class="mt-2 border-bottom border-med ">
          User ID
          <i class="text-bold text-nonitalic"># {{req.user_id}}</i>
          's <strong class="text-italic">{{req.category}}</strong>
          request message
        </h6>
        <a href="/delete/req/{{req.id}}"
          class="fas fa-times text-danger text-xl text-shd shadow-sm mt-2 mr-3">
        </a>

      </div>

      {% set  user_req_set = [
              ('text-2xl mr-4', 'text-md rnd-lg border-bottom border-med pb-2 mb-2 mr-3 shadow-sm', 'req_content', req.content,),
              ('text-lg mr-4', 'text-sm ', 'date_posted', req.date_posted.date(),),
              ('text-lg mr-4', 'text-sm ', req.status, req.status,),
              ]  %}

      {% for icon_style, style, attr, req_attr in user_req_set %}
      <p class="text-italic pl-2 mb-1 {{style}}">
        <i class="fa{{icons(attr)}} {{icon_style}} fa-fw"></i>{{req_attr}}
      </p>

      {% endfor %}
    </div>
  </div>
  {% else %}
  {% set note = obj %}
  <div class="media mt-4 rnd-xl p-1 offset-2 anim-shd ">
    <h1
      class="fa{{icons(note.status)}} text-{{styles(note.status)}} txt-shd fa-pull-left align-self-center mr-4 ml-3">
    </h1>

    <div class="media-body text-{{styles(note.status)}}"
      style="vertical-align: middle;">
      <div class="d-flex flex-row justify-content-between">
        <h6 class="mt-0 border-bottom border-{{styles(note.status)}}">
          Admin ID#
          {{note.admin_id}} noted:</h6>
        <a href="/delete/note/{{note.id}}">
          <h5
            class="far fa-times-circle text-{{styles(note.status)}} fa-pull-right text-shd">
          </h5>
        </a>
      </div>
      {% set  adm_note_set = [
              ('text-lg mr-4', 'text-md text-right text-dark border-bottom rnd-lg pb-2 ', 'note_content', note.content,),
              ('text-lg mr-4', 'text-sm ', 'date_posted', note.date_posted.date(),),
              ('text-lg mr-4', 'text-sm ', note.status, note.status,),
              ]  %}

      {% for icon_style, style, attr, req_attr in adm_note_set %}
      <p class="text-italic pl-2 mb-1 {{style}}">
        <i class="fa{{icons(attr)}} {{icon_style}} fa-fw"></i>{{req_attr}}
      </p>

      {% endfor %}



      </i>
    </div>

  </div>
  {% endif %}
  {% endfor %}



  <div name="admin-note-form" class="row no-gutters mt-4 mb-2">
    <div class="col-2">
    </div>
    <div class="col-10">

      {% set search_term = 'usr_{}_{}'.format(user_id, category) %}
      <h1 class="text-hide">{{search_term}}</h1>
      <div id ="panel_{{search_term}}" class="panel panel-asym shadow-lg pb-4 mb-5 px-0" >
        <div class="panel-header panel-header-secondary panel-header-icon" id="panel_header_{{search_term}}">
          <div class="change_shadow panel-icon img-shd" id="panel_iconbox_{{search_term}}">

            {% if not current_user %}

            <img class="rnd-xl article-img border-0 m-0 p-0"
              src="https://raw.githubusercontent.com/attila5287/rota-img/main/logos/logo_circle.png" alt="">

            {% else %}

            <img class="rnd-xl border-0 m-0 p-0"
              src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/0.png"
              alt="img" style="max-height: 3rem;">

            {% endif %}

          </div>
          <h4 class="change_text highlight_text panel-title text-right mt-4 text-shd mb-2">Note Form</h4>
          <hr class="change_border mt-0 mb-2 border-primary">
          <p
            class="d-flex flex-row justify-content-around text-right text-italic text-sm mr-2 bg-light rnd-xl pt-1 pb-2">
            <span> regarding User
              <a class="fas fa-user text-md disabled mt-0">
                <strong class="fas fa-hashtag"></strong>
                {{user_id}}</a>'s {{category}} request
            </span>

          </p>
        </div>
        <form class="form-group px-2 py-2 rnd-xl" method="POST"
          action="/admin/{{current_user_id}}/note/{{user_id}}/for/{{category}}">
          <div class="form-row">
            <div class="form-group col-4 text-right">
              <label class="highlight_text text-italic" for="category">category (selected)</label>
            </div>
            <div class="form-group col-8">
              <select id="category" name="category"
                class="selectpicker form-control text-md">
                <option value="{{category}}"
                  data-content="<i class='fas fa-{{icons(category)}}' aria-hidden='true'> {{category}}</i>"
                  selected>
                </option>

              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4 text-right">
              <label id="search_term" class="highlight_text text-italic" for="status">choose a status</label>
            </div>
            <div class="form-group col-8">
              <select id="status" name="status"
                class="select_status selectpicker form-control form-control-lg custom-select  text-md "  data-search_term="usr_{{user_id}}_{{category}}">
                <option value=""
                  data-content="<i class='fas fa-door-open text-{{style}} text-dark txt-shd text-md' aria-hidden='true'> 
                    <i class='text-monts'> selection required </i>
                    </i>
                  "  selected disabled>
                </option>  
                {% set options = [
                    ('pending',  'balance-scale', 'info', '',  ),
                    ('approved', 'stamp', 'primary', '',  ),
                    ('declined', 'gavel', 'danger', '',  ),
                    ]  %}
  
                {% set rand_opt= rand_chooser(options) %}
  
                {% for status, icon,style, tooltip in options %}
                <option value="{{status}}"
                  data-content="<i class='text-uppercase fas fa-{{icon}} text-{{style}}' aria-hidden='true'> 
                    <i class='text-monts'> {{status}} </i>
                    </i>
                  ">
                </option>
  
                {% endfor %}
  
              </select>
            </div>
          </div>
          <hr class="change_border my-3">
          <div class="form-group">
            <label for="content" class="form-control  form-control-plaintext text-center text-italic text-sm mb-0">auto-message</label>
            <input type="text" id="content"
              class="change_value  form-control form-control-lg pb-5 pt-4 text-md  border-0 text-italic shadow-sm mb-2 text-wrap"
              rows="1" name="content" id="content"
              value="make a selection to generate an auto-message" ></input>
          </div>
          <div class="form-row mb-0">
            <div class="form-group col-8 offset-2 mb-0">
            {{note_form.submit(class="change_shadow change_btn btn btn-info btn-block shadow")}}
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>

  {% endif %}

  {% endfor %}
  {% endfor %}
</div>

{% endblock %}
