{% extends "layout.html" %}
{% block content %}

<div class="container text-center" name="pagination-members">
{% for page_num in members.iter_pages(left_edge=5, right_edge =5, left_current=5, right_current=10) %}
{% if page_num %}
{% if members.page == page_num %}
  <a class="btn btn-outline-primary mb-4 shadow-lg text-lg" href="{{ url_for('admins.members_table', page=page_num, ) }}">
    {{ page_num }}
  
  </a>
  {% else %}
  <a class="btn btn-sm btn-primary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.members_table', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
...
{% endif %}
{% endfor %}

</div>      

<div class="table-responsive" name="table-usr">

  <table class="table table-sm table-striped table-dark table-hover table-borderless rnd-2xl shadow">

    <thead>
        <tr>
        {% for header in headers %}
          <th class="bg-secondary text-light text-center text-xs text-comfo text-nonbold border-right pb-1 align-top py-2"> 
            <i class="text-lg fa{{icons(header)}}" aria-hidden="true"></i>
            {{ header.title().replace("_"," ") }} 
          </th>
        {% endfor %} 
        
        </tr>
    </thead>
    
    <tbody>
    
      {% for row in table %}
        <tr class=" align-items-base">
        {% set rowloop = loop %}
        {% for k,v in row.items() %}

          {% if k =="img_url" %}
          <td class="align-items-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <img class="img-thumbnail border-0 add-anime rnd-lg py-0 opac-50 rounded-circle" src="{{ v }}" alt="img"
            style="max-height: 1.75rem;"
            >
          </td>
          
          {% elif k in [ "linkedin", "twitter", "instagram",] %}

          <td class="align-items-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
          <a class="opac-70" href="{{row[k]}}">
            
            <i class="text-lg fab fa-{{k}}" aria-hidden="true"></i>

          </a>

          </td>
          
          

          {% elif k in [ "first_name", "last_name", "middle_name",] %}


          <td class="align-items-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            {{v.title()}}
          </td>
          

          {% elif k in [ "is_admin", "is_prez"] %}
          {% set icon_dict = {
            "y" : "check",
            "n" : "times",
          } %}


          <td class="align-items-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <i class="fas fa-{{  icon_dict[v] }}"></i>


          </td>
          

          {% elif k ==  "gender" %}
          {% set gender_dict = {
            "f" : "female",
            "m" : "male",
          } %}


          <td class="align-items-center"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <i class="fas fa-{{  gender_dict[v] }}"></i>


          </td>
          
          
          {% else %}
          
          <td id="cell-{{ rowloop.index }}-{{ loop.index }}">
            {{ v }}
          </td>
          
          {% endif %}

        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

  </table>  
</div>


{% endblock %}
