{% extends "layout.html" %}
{% block content %}

<div class="text-center" name="pagination-users">
{% for page_num in users.iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if users.page == page_num %}

  <a class="btn btn-outline-secondary mb-4 shadow-lg border-secondary text-lg" href="{{ url_for('admins.users_table',  page=page_num,) }}">
    {{ page_num }}
  
  </a>

  {% else %}
  <a class="btn btn-sm btn-secondary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.users_table', page=page_num) }}">{{ page_num }}</a>
  {% endif %}

{% else %}
...
{% endif %}
{% endfor %}
</div>      
<style>
</style>
<div class="table-responsive" name="table-usr">
  <table class="table table-hov3r table-light table-bordered rnd-2xl shadow">
    <thead>
      <tr>
        {% for header in headers %}
          <th class="bg-primary text-comfo text-nonbold text-light text-center pt-2 pb-3 border-right align-top"> 
            <i class="text-xl fa{{icons(header)}}" aria-hidden="true"></i>
            {{ header.title().replace("_"," ") }} 
          </th>
        {% endfor %} 
      </tr>
    </thead>
    <tbody>
      {% for user in table %}

        <tr> 

        {% set rowloop = loop %}
        {% for k,v in user.items() %}

          {% if k =="image_file"  %} 
          <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}" >
            
            <img class="rnd-xl border-0 m-0 p-0" src="https://raw.githubusercontent.com/attila5287/rota-img/main/profile_pics/{{v}}" alt="img"
            style="max-height: 2.75rem;"
            >

          </td>
          

          {% elif k =="img_url" %}
          <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <img class="border-0 m-0 p-0 opac-80 rounded-circle" src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{v}}.png" alt="img"
            style="max-height: 1.75rem;"
            >
          </td>
          
          {% elif k in [ "linkedin", "twitter", "instagram",] %}
          <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
          <a class="text-center" href="{{user[k]}}">
            
            <i class="text-lg fab fa-{{k}}" aria-hidden="true"></i>

          </a>

          </td>

          {% elif k in [ "is_member", "is_admin", "is_prez"] %}
          
          {% set icon_dict = {
            "y" : "check text-primary",
            "n" : "times text-secondary opac-70",
          } %}


          <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            
            <i class="text-2xl fas fa-{{  icon_dict[v] }}"></i>


          </td>
          

          {% elif k ==  "gender" %}
          {% set gender_dict = {
            "f" : "female",
            "m" : "male",
          } %}

          <td class="pl-2 bg-dark{{rowloop.cycle('odd', 'even')}}"
          id="cell-{{ rowloop.index }}-{{ loop.index }}">
            <i class="text-2xl fas fa-{{  gender_dict[v] }}"></i>
          </td>
          

          {% elif k ==  "password" %}
          
          
          {% else %}
          
          <td class="pl-3 bg-dark{{rowloop.cycle('odd', 'even')}}" id="cell-{{ rowloop.index }}-{{ loop.index }}" >
            {{ v }}
          </td>
          
          {% endif %}

          {% endfor %}
            <td class="text-center bg-dark{{rowloop.cycle('odd', 'even')}}"> 

              {% if not user.is_member == "y" %}
              <span>
                <a href="{{url_for('admins.approve_member', id= user.id)}}">
                  <i class="text-2xl fas fa-user-plus text-lg"></i>
                </a>
              </span>
              {% else %}
                <span>
                  <a href="{{url_for('admins.cancel_member', id= user.id)}}">
                    <i class="text-2xl fas fa-user-slash text-lg text-secondary text-center"></i>
                  </a>
                </span>
              {% endif %}

            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>

{% endblock %}
