<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="custom dashboard">
    <meta name="author" content="@attila5287">
    <link rel="icon" type="image/x-icon" class="favicon"
      href="https://raw.githubusercontent.com/attila5287/rota-img/main/icons/favic0n.ico" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/styles/theme/minty/bootstrap.css" />
    <link rel="stylesheet" type="text/css"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js">
    </script>
    <title>
      admin/Göztepe Rotaract Kulübü
    </title>
    

    <link rel="stylesheet" type="text/css" href="/static/styles/main/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom/dashboard.css" />

    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand bg-transparent border-0 col-md-3 col-lg-2 mr-0 px-3"
           href="https://rotaizmir.herokuapp.com/">

           <img class="m-0 px-0 py-0"
             src="https://raw.githubusercontent.com/attila5287/rota-img/main/icons-png/circle_white.png"
             style="max-height: 2.50rem;" alt="navbar-icon" data-toggle="tooltip"
             title="Göztepe Rotaract Kulübü">
             Göztepe Rotaract Kulübü
         </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% set nav_forms = [
          (select_member, 'member/edit/1') ,
          (select_user, 'member/1') ,
          
          ] %}
          <div class="input-group row no-gutters align-items-baseline">
          {% for form, href in nav_forms %}
            <div class="input-group-prepend col-auto">
              <span class="input-group-text text-md bg-primary border-0">{{form.menu.label}}</span>
            </div>
            {{form.menu(class="form-control form-control-dark custom-select custom-select-sm col py-0")}}
            <div class="input-group-append col-auto">
              <a class="btn btn-sm btn-sm btn-outline-light" href="action">
                <i class="fas fa-search px-3"></i>
              </a>

            </div>
            {% endfor %}    
          </div>

      </nav>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu"
            class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Customers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                  </a>
                </li>
              </ul>

              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>
                <a class="d-flex align-items-center text-muted" href="#"
                  aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">
                {% if current_user.is_authenticated %}
                {{current_user.username}}
                {% else %}
                <i class="fas fa-user-md"></i>
                Admin Dashboard Test Mode

                {% endif %}
              </h1>
              <form action="" method="POST">
                <div class="form-group form-row flex-nowrap">
                  {{select_table.mode(class=" custom-select custom-select-sm shadow-lg border-0")}}
                  {{select_table.submit(class="btn btn-sm btn-sm btn-primary shadow-lg")}}
                </div>
              </form>
            </div>
<h2>{{ table_mode }}</h2>
  {% set mode = table_mode  %}

  {% set pag ={
    'Show Members' :
    {
      'module': 'members', 
      'pag_obj': members, 
      'arg': 'page_u', 
    },
    'Show Users' :
    {
      'module': 'users', 
      'pag_obj': users, 
      'arg': 'page_m', 
    }

  },

%}
{% for object in list %}
<div class="container text-center" name="pagination-members">
{% for page_num in members.iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if members.page == page_num %}
  <a class="btn btn-outline-secondary mb-4 shadow-lg border-secondary text-lg" href="{{ url_for('admins.dashboard', page_m=page_num, ) }}">
    {{ page_num }}
  
  </a>
  {% else %}
  <a class="btn btn-sm btn-secondary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.dashboard', page_m=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
...
{% endif %}
{% endfor %}

</div>      

{% endfor %}


{% if table_mode == 'Show Members' %}
<div class="container text-center" name="pagination-members">
{% for page_num in members.iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if members.page == page_num %}
  <a class="btn btn-outline-secondary mb-4 shadow-lg border-secondary text-lg" href="{{ url_for('admins.dashboard', page_m=page_num, ) }}">
    {{ page_num }}
  
  </a>
  {% else %}
  <a class="btn btn-sm btn-secondary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.dashboard', page_m=page_num) }}">{{ page_num }}</a>
  {% endif %}
{% else %}
...
{% endif %}
{% endfor %}

</div>      

{% elif table_mode=='Show Users' %}

<div class="text-center" name="pagination-users">
{% for page_num in users.iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if users.page == page_num %}

  <a class="btn btn-outline-secondary mb-4 shadow-lg border-secondary text-lg" href="{{ url_for('admins.dashboard', table_mode=1, page_u=page_num,) }}">
    {{ page_num }}
  
  </a>

  {% else %}
  <a class="btn btn-sm btn-secondary btn-sm border-0 shadow mb-4" href="{{ url_for('admins.dashboard', table_mode=1, page_m=1,page_u=page_num) }}">{{ page_num }}</a>
  {% endif %}

{% else %}
...
{% endif %}
{% endfor %}

</div>      


{% endif %}
<div class="table-responsive">
<table class="table table-striped table-sm table-hover">
  <thead class="thead-inverse border-top border-light">
      <tr>
      {% for hdr_icon,th in headers %}
      
      <th class="text-nowrap text-comfo py-3"> 
        <i class="fa{{hdr_icon }}"></i>
        {{th}} 
      </th>
      
      {% endfor %} 
    
      </tr>
  </thead>
  
  <tbody>
  
    {% for row in table %}
      <tr class=" align-items-base">
      {% set rowloop = loop %}
      {% for k,v in row.items() %}

        {% if k =="img_url" %}
        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <img class="img-thumbnail border-0 add-anime rnd-lg py-0" src="{{ v }}" alt="member-sm-img"
          style="max-height: 1.5rem;"
          >
        </td>
        
        

        {% elif k in [ "linkedin", "twitter", "instagram",] %}

        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
        <a class="opac-70" href="{{row[k]}}">
          
          <i class="text-lg fab fa-{{k}}" aria-hidden="true"></i>

        </a>

        </td>
        
        

        {% elif k in [ "first_name", "last_name", "middle_name",] %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          {{v.title()}}
        </td>
        

        {% elif k in [ "is_admin", "is_prez"] %}
        {% set icon_dict = {
          'y' : 'check',
          'n' : 'times',
        } %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <i class="fas fa-{{  icon_dict[v] }}"></i>


        </td>
        

        {% elif k ==  "gender" %}
        {% set gender_dict = {
          'f' : 'female',
          'm' : 'male',
        } %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <i class="fas fa-{{  gender_dict[v] }}"></i>


        </td>
        
        
        {% else %}
        
        <td id="cell-{{ rowloop.index }}-{{ loop.index }}">
          {{ v }}
        </td>
        
        {% endif %}

      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
</table>  
</div>
          </main>
        </div>
      </div>
    </main>
    <aside>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
      </script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js">
      </script>

    </aside>
  </body>

</html>
