{% extends "layout.html" %}
{% block content %}
    {% if posts.items ==[] %}
    <br>
  <p class="text-light text-center text-xl">
    <i class="fa fa-arrow-down text-2xl" aria-hidden="true"></i>
        These are demo posts only to show up when demonstration required:
  </p>

    <br>
    
    <div class="content-section" >
      {% set demo_posts = [
        ( 'welcome!', 'attila', 'attila'),
        ] -%}

{% for title, content, image in demo_posts %}
  <article class="media content-section text-light border-light rnd-2xl">
    <img class="rounded-circle article-img" src="https://raw.githubusercontent.com/attila5287/rota-img/main/profile_pics/{{image}}.png">
    <div class="media-body text-light">
      <div class="article-metadata text-light">
        <a class="mr-2" href="">
          rotaract2440
        </a>
        <small class="text-italic text-light">
          10/10/2020
        </small>
      </div>
      <h2><a class="article-title text-light" href="{{ id }}">
        {{ title}}
      </a></h2>
      <p class="article-content text-light">
        {{ content }}
      </p>
    </div>
  </article>
{% endfor %}

    </div>
    
    {% else %}
    {% for post in posts.items %}

        <article class="media content-section text-light border-light rnd-2xl">
          <img class="rounded-circle article-img" src="https://raw.githubusercontent.com/attila5287/rota-img/main/profile_pics/attila.png">
          <div class="media-body text-light">
            <div class="article-metadata">
              <a class="text-light mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a> 
              <small class="ml-auto text-md text-italic text-light">@{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title text-light" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <hr class="mb-2 mt-0 opac-30 border-light px-4">  
            <p class="article-content text-light">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

    {% endif %}


{% endblock content %}
