{% set demo_mode='on' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="custom dashboard">
    <meta name="author" content="@attila5287">
    <link rel="icon" type="image/x-icon" class="favicon"
      href="https://raw.githubusercontent.com/attila5287/rota-img/main/icons/favic0n.ico" />
      {% if theme %}
      <link rel="stylesheet" type="text/css"
      href="/static/styles/theme/{{theme}}/bootstrap.css" />
      {% else %}
      <link rel="stylesheet" type="text/css"
      href="/static/styles/theme/minty/bootstrap.css" />
      
      {% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

      <link rel="stylesheet" type="text/css"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous" />
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" integrity="sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ==" crossorigin="anonymous" />
      
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js"></script>
      
      
    {% set google_fonts = [
      'Orbitron',
      'Baloo+2',
      'Roboto',
      'Roboto+Condensed',
      'Comfortaa',
      'Nova+Mono&display=swap',
      'Major+Mono+Display&display=swap',
      'Lilita+One&display=swap',
      'Montserrat+Alternates:wght@500&display=swap',
      'Montserrat:wght@800&display=swap',
      ] %}

    {% for font_url in google_fonts %}
    <link href="https://fonts.googleapis.com/css2?family={{font_url}}"
      rel="stylesheet">
    {% endfor %}

    {% if title %}
    <title>
      {{title}}
    </title>
    {% else %}
    <title>Göztepe Rotaract</title>
    {% endif %}


    <link rel="stylesheet" type="text/css"
      href="/static/styles/main/main.css" />
    <link rel="stylesheet" type="text/css"
      href="/static/styles/custom/dashboard.css" />


    
    <!-- Custom styles for this template -->
  </head>
  <body>
    <style>
    </style>
    <header>
      <nav 
        class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand bg-transparent border-0 col-sm-2 col-md-3 col-lg-2 mr-0"
          href="https://rotaizmir.herokuapp.com/">
          <img class=" m-0 px-0 py-0"
            src="https://raw.githubusercontent.com/attila5287/rota-img/main/icons-png/circle_white.png"
            style="max-height: 2.00rem;" alt="navbar-icon"
            data-toggle="tooltip" title="Göztepe Rotaract Kulübü">

          <i class="fas fa-spin">

            </i>
            Göztepe Rotaract Kulübü          
            
        </a>


        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if select_member %}
          {% if select_user %}
            
          {% set nav_forms = [
              (select_member, 'member/edit/1') ,
              (select_user, 'member/1') ,
              ] %}
              
            <div class="input-group input-group-sm row no-gutters align-items-center">
              {% for form, href in nav_forms %}
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend py-0">
                    <span
                      class="input-group-text text-light text-sm btn bg-primary border-0 py-0">
                      {{form.menu.label}}
                    </span>
                  </div>
                  {{form.menu(class="form-control form-control-dark custom-select custom-select-sm text-left text-sm pl-0  py-0")}}
                  <div class="input-group-append py-0 ">
                    <a class="btn btn-sm btn-secondary border-0 rnd-md"
                      href="action">
                      <i class="fas fa-search px-2 py-0 text-sm"></i>
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}


      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <aside name="sticky-sidebar">
          <nav id="sidebarMenu"
            class="col-md-3 col-lg-2 d-md-block bg-aside sidebar collapse">
            <div class="sidebar-sticky bg-transparent pt-0">
              <ul class="nav flex-column">
                <li class="nav-item mt-2">
                  <a class="nav-link disabled ml-2 mr-1">
                    {% if current_user.is_authenticated %}
                    <img
                      src="https://raw.githubusercontent.com/attila5287/rota-img/main/avatars/{{current_user.img_url}}.png"
                      alt="usr-img" style="max-height:3rem;"
                      class="img rounded-circle">

                    <span class="text-sm text-monts text-light">
                      {{current_user.username}}
                    </span>
                    
                    
                    
                    {% else %}
                    <img
                    src="https://raw.githubusercontent.com/attila5287/rota-img/main/profile_pics/attila.png"
                    alt="usr-img" style="max-height:3rem;"
                    class="img rounded-circle">
                    <span class="text-sm text-monts text-light">
                      demo_mode: {{demo_mode}}
                    </span>
                    
                    {% endif %}

                  </a>
                </li>
                <li class="nav-item my-0">
                  <hr class="border-light border-med opac-30">
                </li>
              </ul>
              <ul class="list-group mx-4 mt-0 pt-0">

                {% set side_bar = [
                  (None, '', 'guests',  None),
                  ('public', '/about', '├ about',  'info'),
                  ('public', '/login', '├ Login', 'user-cog'),
                  ('public', '/register',  '└ Register', 'sign-out-alt'),
                  (None, '', 'users',  None),
                  ('is_authenticated', '/account', '├ Account', 'user-cog'),
                  ('is_authenticated', '/user/requests/', '├ Requests', 'user-cog'),
                  ('is_authenticated', '/logout',  '└ Logout', 'sign-out-alt'),
                  (None, '', 'posts',  None),
                  ('is_authenticated', '/post/new','├ New Post',  'paper-plane'),
                  ('is_authenticated', '/home', '└ Posts Home', 'envelope',),
                  (None, '', 'members',  None),
                  ('is_member', '/members', '├ Grid', 'users', ),
                  ('is_member', '/members/table', '├ Table', 'table', ),
                  ('is_member', '/member/1', '├ Show Member', 'fas fas fa-file-video', ),
                  ('is_admin', '/member/edit/1', '├ Edit Member', 'fas fas fa-user-edit', ),
                  ('is_admin', '/members/file', '├ File Upload', 'file-excel', ),
                  ('is_admin', '/member/add', '└ New Member', 'user-plus', ),
                  (None, '', 'admins', '', ),
                  ('is_admin', '/admin/tables/users', '├ Users', 'user-md', ),
                  ('is_admin', '/admin/requests', '├ Requests', 'check-double', ),
                  ('is_admin', '/admin/tables/members', '└ Members', 'user-md', ),
                ] -%}

                {% for access_level, href, caption, icon in side_bar %}
                {% if demo_mode == 'on' %}

                  {% if access_level or access_level == 'public' or current_user[access_level] or current_user[access_level]=='y' %}
                    {% set accessible = ' anim text-lowercase ml-2' %}
                  {% else %}
                    {% set accessible = ' disabled text-capitalize mt-1 ml-0' %}
                  {% endif %}
                
                
              <a class="list-group-item list-group-item-light list-group-item-action bg-transparent text-light side-title border-0 m-0 mt-1 p-0 {{accessible}}" href="{{href}}">

                <div class="d-flex flex-row justify-content-between rnd-xl {{highlighted}}">

                      <span class="text-md mt-1 text-bold text-md">
                        {{caption}}
                      </span>

                      <span class="fa-stack text-mini fa-2x text-center mr-2">
                        {% if icon %}
                        <i class="fas fa-circle-notch fa-stack-2x fa-fw text-light opac-30"></i>
                        <i
                          class="fas fa-{{icon}} fa-stack-1x fa-fw fa-inverse text-light"></i>
                        {% endif %}
                      </span>

                  </div>
                </a>

                {% endif %}
                {% endfor %}
              <hr class="my-1">
            </ul>
            
            <hr class="border-light border-med opac-30">
            
            {% if access %}
              <details name="access" class="d-flex flex-column justify-content-center text-light ml-2">
                {% for a in access %}
                <i class="fas fa-key text-sm ml-2 mr-2 text-light pt-1">
                  {{a}}
                </i>
                {% endfor %}
              </details>
              {% endif %}


            </div>
            
          </nav>
          
        </aside>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-4">
          <legend name="with-info-notes" class="container mini">
            <p class="legend text-nowrap text-left mb-0">

              <span class="fa-stack fa-2x text-center mr-2">
                <i class="fas fa-square fa-stack-2x fa-fw text-secondary"></i>
                <i
                  class="fas fa-user-md fa-stack-1x fa-fw text-light fa-inverse"></i>
              </span>


              {% if legend %}
              {{ '{} '.format(legend) }}
              {% else %}

              {{ '{} '.format('Göztepe Rotaract') }}

              {% endif %}
            </p>

            {% if info_notes %}
            <div
              class="d-flex flex-row justify-content-left align-items-center">
              <span class="text-info fa-stack fa-2x text-center txt-shd">
                <i class="fas fa-square  fa-fw fa-stack-2x "></i>
                <i class="fas fa-info fa-stack-1x fa-inverse fa-fw"></i>

              </span>
              <ul
                class="text-sm list-group list-group-flush border-top py-2 border-primary border-top px-0 mx-0">
                {% for i in info_notes %}
                <li
                  class="list-group-item bg-transparent  d-flex justify-content-start align-items-center pt-0 pl-3 border-0 ml-2">
                  <span class="fas fas fa-play  text-info text-xs mr-2"></span>
                  {{ i }}

                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

          </legend>

{% with messages = get_flashed_messages(with_categories=true) %}
  
  {% if messages %}

    <div class="form-mini alert alert-dismissible alert-{{ category }} border-0 bg-transparent">
      
      <ul class="list-group my-0">
      {% for category, message in messages %}
        <li class="list-group-item list-group-item-{{ category }}">{{ message }}
          <button type="button" class="close pt-2" data-dismiss="alert">
            <i class="fas fa-times text-xl pt-0"></i>
          </button>

        </li>
      {% endfor %}
      </ul>
      
  </div>

  {% endif %}
{% endwith %}
        

          {% block content %}{% endblock %}
          <footer class="container footer mt-2">
            <nav class="nav nav-pills nav-justified">
              {% set footer_images=[
               ('slab-logo',  'logo_slab.png', ),
               ('open-doors',  'logo_opensdoors_2021.png', ),
               ]  %}
     
              {% for alt, src in footer_images %}
              <a class="nav-item nav-link add-anime  rnd-xl"
                href="https://rotaract2440.org/kulup/23#"
                >
                <img class="m-0 rnd-lg py-0 pl-2 pr-1 add-anime"
                  src="https://raw.githubusercontent.com/attila5287/rota-img/main/site/{{src}}"
                  alt="{{alt}}" style="height: 2.75rem;">
              </a>
              {% endfor %}
              {% set footer_icons = [
                 ('instagram', 'www.instagram.com/gozteperotaract',  ),
                 ('twitter', 'twitter.com/GoztepeRotaract',  ),
                 ('youtube', '',  ),
                 ('linkedin', '',  ),
                 ]   %}
              {% for icon, url in footer_icons %}
              <a class="nav-item nav-link add-anime  rnd-xl"
                href="https://{{url}}">
                <h1 class="fab fa-{{icon}}"></h1>
              </a> 
              {% endfor %}
            </nav>
          </footer>
        </main>
        
      </div>
    </div>



    <aside>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
      </script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    </aside>

    {% if js %}
    <mark name="js-file">
      {% for folder, file in js %}
      <script
        src="{{ url_for('static', filename='{}/{}.js'.format(folder, file)) }}">
      </script>
      {% endfor %}
    </mark>
    {% endif %}

    

  </body>

</html>
