<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="custom dashboard">
    <meta name="author" content="@attila5287">
    <link rel="icon" type="image/x-icon" class="favicon"
      href="https://raw.githubusercontent.com/attila5287/rota-img/main/icons/favic0n.ico" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/styles/theme/superhero/bootstrap.css" >
    <link rel="stylesheet" href="/static/styles/custom/dashboard.css" >
    <link rel="stylesheet" type="text/css"
      href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
      integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
      crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js">
    </script>
    <title>Dashboard</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="static/styles/custom/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand bg-transparent border-0 col-md-3 col-lg-2 mr-0 px-3"
           href="https://rotaizmir.herokuapp.com/">

           <img class="m-0 px-0 py-0"
             src="https://raw.githubusercontent.com/attila5287/rota-img/main/icons-png/circle_white.png"
             style="max-height: 2.50rem;" alt="navbar-icon" data-toggle="tooltip"
             title="Göztepe Rotaract Kulübü">
             Göztepe Rotaract Kulübü
         </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% set nav_forms = [
          select_member,
          select_user,
          ] %}
          <div class="input-group row no-gutters align-items-baseline">
          {% for form in nav_forms %}
            <div class="input-group-prepend col-auto">
              <span class="input-group-text">{{form.menu.label}}</span>
            </div>
            {{form.menu(class="form-control form-control-dark custom-select custom-select-sm col py-0")}}
            <div class="input-group-append col-auto">
              <a class="btn btn-sm btn-outline-light" href="/member/{{form.menu.value}}">
                <i class="fas fa-search px-3"></i>
              </a>

            </div>
            {% endfor %}    
          </div>

      </nav>
    </header>
    <main>
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <aside>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
      </script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
      </script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js">
      </script>

    </aside>
  </body>

</html>
