{% extends "layout.html" %}
{% block content %}


<div class="card mini shadow-lg card-asym">
  <div class="card-header card-header-secondary card-header-icon">
    <div class="card-icon shadow">
      <i class="material-icons fas fa-id-card text-light"></i>
    </div>
  </div>
  </div>
  
  <div class="container content-section col-8 offset-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
            <i class="fas fa-envelope text-xl"></i>
          {{ form.email.label(class="text-lite text-lowercase ml-2") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
        <i class="fas fas fa-lock text-xl"></i>
                    
                    
          {{ form.password.label(class="text-lite text-lowercase ml-2") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </fieldset>
      <div class="form-group text-center">
        {{ form.submit(class="btn btn-secondary btn-block text-xl text-lite text-lowercase rnd-xl shadow border-0") }}
      </div>
      <div class="form-group text-center">
      <small class="text-center text-light ml-2 mt-2">
            <a class="p-2 text-center text-md" href="{{ url_for('users.reset_request') }}">
              Forgot Password?
            </a>
          </small>
          <hr class="col-8 offset-2 border-primary opac-50">
          <p class="text-center text-primary text-italic">
              Please register for a user account, no verification emails etc. necessary at this point:
              <a class="ml-3 btn btn-primary shadow p-2 text-center text-md" href="{{ url_for('users.register') }}">Register!</a>
          </p>
        </div>
    </form>
  </div>

{% endblock content %}
