{% extends "layout.html" %}
{% block content %}
    {% if members.items == [] %}
    <br>
  <p class="text-light text-center text-lg">
    <i class="fa fa-arrow-down text-2xl animated infinite heartBeat" aria-hidden="true"></i> These are demo items, only be seen if there are no members in database...
        <i class="fas fa-id-card"></i>
  </p>

    <br>
    {% set members_demo = [
    (
      '1369',
      'alp',
      'tekin',
      'alp_e6650@ephix.com',
      '/m/5.jpg', 
      ),
      (
        '2869',
        'boyga',
        'kose',
        'boyga_s8210@citytech.com',
        '/m/51.jpg',
      ),
      (
        '3450',
        'cigdem',
      'ates',
      'cigdem_y16250@ephix.com',
      '/f/25.jpg',),
      (
        '4296',
        'damla',
        'arslan',
        'damla_y18440@dex.net',
        '/f/66.jpg',
      )

] -%}

  {% for id,first_name, last_name, email, img_url in members_demo %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    <article class="media content-section text-light rnd-2xl">
      <div class="d-flex flex-column align-content-center">
      <img class="rounded-circle article-img" 
      src="https://raw.githubusercontent.com/attila5287/rota-img/main/photos/{{ img_url  }}" alt="{{ id }}-photo" 
      >
      <ul class="list-group list-group-flush">

        <a class="list-group-item pt-0 pb-1 bg-transparent" href="https://www.instagram.com/{{ id }}" >
          <i class="fab fa-instagram">@insta_{{id}}</i>
        </a>

        <a class="list-group-item pt-0 pb-1 bg-transparent"
        href="https://twitter.com/{{ id}}"
        >
          <i class="fab fa-twitter">@twit_{{ id }}</i>
        </a>

        <a class="list-group-item pt-0 pb-1 bg-transparent"
        href="https://tr.linkedin.com/public-profile/in/{{ id}}"
        >
          <i class="fab fa-linkedin">@lnkedn_{{ id}}</i>
        </a>



      </ul>
    </div>
      <div class="media-body text-light">
        <div class="article-metadata text-md">
          <a class="text-capitalize text-justified mr-2" >
            {{last_name}}, 
            {{first_name}}
          </a>
        </div>
        <h2><a class="article-title text-md text-capitalize">
        </a></h2>

        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent py-1"> 
            <i class="far fa-envelope mr-2" aria-hidden="true"></i>
            {{ email }}
          </li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
            0
            -537
            -228
            -1880
          </li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fa fa-graduation-cap mr-2" ></i>
            MemberID: {{ id }} 
          </li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fas fa-user-tag mr-2"></i>
            UserID: {{ id*3 }} 
          </li>
            
        </ul>
      </div>
    </article>    
  </div>
  {% endfor %}
    {% else %}
    <div class="row">
    {% for m in members.items %}

  <div class="col-sm-6 col-md-4 col-lg-3">
    <article class="media content-section text-light rnd-2xl">
      <div class="d-flex flex-column align-content-center">
      <img class="rounded-circle article-img" 
      src="{{ m.img_url  }}" alt="{{ m.id }}-photo" 
      >
      <ul class="list-group list-group-flush">

        <a class="list-group-item pt-0 pb-1 bg-transparent" href="https://www.instagram.com/{{ m.id }}" >
          <i class="fab fa-instagram">@insta_{{m.id}}</i>
        </a>

        <a class="list-group-item pt-0 pb-1 bg-transparent"
        href="https://twitter.com/{{ m.id}}"
        >
          <i class="fab fa-twitter">@twit_{{ m.id }}</i>
        </a>

        <a class="list-group-item pt-0 pb-1 bg-transparent"
        href="https://tr.linkedin.com/public-profile/in/{{ m.id}}"
        >
          <i class="fab fa-linkedin">@lnkedn_{{ m.id}}</i>
        </a>



      </ul>
</div>
      <div class="media-body text-light">
        <div class="article-metadata text-md">
          <a class="text-capitalize text-justified mr-2" >
            {{m.last_name}}, 
            {{m.first_name}}
          {{m.middle_name}}
          </a>
        </div>
        <h2><a class="article-title text-md text-capitalize">
        </a></h2>

        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent py-1"> 
            <i class="far fa-envelope mr-2" aria-hidden="true"></i>
            {{ m.email }}</li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
            0
            -{{ m.phone_num[:3] }}
            -{{ m.phone_num[3:6] }}
            -{{ m.phone_num[6:10] }}
          </li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fa fa-graduation-cap mr-2" ></i>
            MemberID: {{ m.id }} 
          </li>
          <li class="list-group-item bg-transparent py-1"> 
            <i class="fas fa-user-tag mr-2"></i>
            UserID: {{ m.user_id }}
          </li>
            
        </ul>
      </div>
    </article>    
    
  </div>
  
  {% endfor %}
</div>
<div class="text-center">
  {% for page_num in members.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=5) %}
  {% if page_num %}
    {% if members.page == page_num %}
      <a class="btn btn-light disabled bg-transparent border-0 mb-4 text-xl" href="{{ url_for('members.home', page=page_num) }}">
        {{ page_num }}

      </a>
    {% else %}
      <a class="btn btn-outline-light bg-theme mb-4 text-xl" href="{{ url_for('members.home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}

</div>
  
    {% endif %}


{% endblock content %}
