{% extends "layout.html" %}
{% block content %}
<div class="container" name="members-table">
  

{% if members.items == [] %}
<p class="text-light text-center text-lg">
    <i class="fa fa-arrow-down text-2xl animated infinite heartBeat" aria-hidden="true"></i> 
    Either are there no members in database or bad db connection perhaps?
  </p>

    {% else %}

<div class="text-center">
  {% for page_num in members.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=5) %}
  {% if page_num %}
    {% if members.page == page_num %}
      <a class="btn btn-outline-secondary disabled mb-4 text-lg shadow" href="{{ url_for('members.table', page=page_num) }}">
        {{ page_num }}

      </a>
    {% else %}
      <a class="btn btn-sm btn-secondary mb-4 shadow" href="{{ url_for('members.table', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}

</div>
<table class="col-10 offset-1 table table-hover table-sm  mt-3 rnd-2xl text-bold">
  <thead class="thead-inverse bg-primary text-light rnd-xl disabled text-capitalize">
      <tr>
      {% for hdr_icon,th in headers %}
      
      <th class="text-nowrap text-comfo py-4"> 
        <i class="fa{{hdr_icon }}"></i>
        {{th}} 
      </th>
      
      {% endfor %} 
    
      </tr>
  </thead>
  
  <tbody>
  
    {% for row in table %}
      <tr class=" align-items-base {{bg_row(row.gender)}}">
      {% set rowloop = loop %}
      {% for k,v in row.items() %}

        {% if k =="img_url" %}
        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <img class="rounded-circle img-thumbnail border-info bg-info add-anime rnd-lg py-0" src="{{ v }}" alt="mem-img"
          style="max-height: 2.0rem;"
          >
        </td>
        
        

        {% elif k in [ "linkedin", "twitter", "instagram",] %}

        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
        <a class="shadow" href="{{row[k]}}">
          
          <i class="text-light opac-50 text-2xl fab fa-{{k}}" aria-hidden="true"></i>

        </a>

        </td>
        
        

        {% elif k in [ "first_name", "last_name", "middle_name",] %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          {{v.title()}}
        </td>
        

        {% elif k in [ "is_admin", "is_prez"] %}
        {% set icon_dict = {
          'y' : 'check',
          'n' : 'times',
        } %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <i class="fas fa-{{  icon_dict[v] }}"></i>


        </td>
        

        {% elif k ==  "gender" %}
        {% set gender_dict = {
          'f' : 'female',
          'm' : 'male',
        } %}


        <td class="align-items-center"
        id="cell-{{ rowloop.index }}-{{ loop.index }}">
          
          <i class="fas fa-{{  gender_dict[v] }}"></i>


        </td>
        
        
        {% else %}
        
        <td id="cell-{{ rowloop.index }}-{{ loop.index }}">
          {{ v }}
        </td>
        
        {% endif %}

      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
</table>  

{% endif %}
  
</div>


{% endblock content %}
