{% extends "layout.html" %}
{% block content %}



<div name="select-menu" class="row no-gutters align-items-center">
    <div class="content-section col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <fieldset class="form-group px-4">
        <form method="POST" action="">
          {{ form.hidden_tag() }}

          {% for field in form %}
          {% if field.id != 'csrf_token' %}
          
          
          <p class="text-monts text-lg text-center my-0">
            {{field.label}}
          </p>

          <div class="form-group align-items-center mb-4">
            <div class="input-group mx-2 mb-0 text-comfo">
              <div class="input-group-prepend bg-transparent  add-anime border-0 rnd-xl">
                <span class="input-group-text bg-secondary text-light text-bold" id="inputGroupPrepend">
                  <i class="fa{{icons(field.id)}} fa-fw ml-2 mt-0 animated infinite heartBeat"></i>
                </span>
              </div>
              {{field(class="custom-select shadow mr-2" )}}
            </div>

          </div>

          {% else %}
          {% endif %}
          {% endfor %}
          <div class="form-group">

            <input class="btn btn-outline-light btn-block bg-primary rnd-3xl text-monts mt-2 pt-3 pb-4 text-light text-lg shadow border-0"
              type="submit" value="show selected">
          </div>
        </form>
      </fieldset>
    </div>
</div>

<div name="pagination-buttons" class="container text-center">
  {% for page_num in members.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=5) %}
  {% if page_num %}
  {% if members.page == page_num %}
  <a class="btn btn-outline-secondary disabled border-med text-lg  mb-4 mx-3"
    href="{{ url_for('members.home', page=page_num) }}">
    {{ page_num }}
  </a>
  {% else %}
  <a class="btn btn-sm btn-secondary shadow mb-4"
    href="{{ url_for('members.home', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}

</div>


<div name="members-grid" class="row no-gutters">
  {% for m in members.items %}

  <div class="col-md-6 col-lg-4 pr-1">
    <article class="media content-section rnd-2xl">
      <div class="d-flex flex-column align-content-center">
        <img class="rounded-circle article-img" src="{{ m.img_url  }}" alt="{{ m.id }}-photo">
        <ul class="list-group list-group-horizontal list-group-flush">

          {% set social_media = [
          (
            'instagram',
            'https://www.instagram.com/{{ m.instagram }}',
            ),
            (
              'twitter',
              'https://twitter.com/{{ m.twitter}}',
              ),
            (
              'linkedin',
              'https://tr.linkedin.com/public-profile/in/{{ m.linkedin}}',
              ),
          ] %}
          {% for icon,sc_name in social_media %}

          <a class="list-group-item list-group-item-action pt-0 pb-1 bg-transparent add-anime p-0"
            href="https://www.instagram.com/{{ sc_name }}">
            <i class="text-xl pt-1 pb-0 opac-70 fab fa-{{icon}}"></i>
          </a>

          {% endfor %}


        </ul>
      </div>
      <div class="media-body">
        <div class="article-metadata bg-memb{{m.gender}} text-md">
          <a class="text-capitalize text-justified text-light text-bold p-1 mr-2" href="{{url_for('members.show', id= m.id)}}"
            title="click to see member in detail">
            {{m.last_name}},
            {{m.first_name}}
            {{m.middle_name}}
          </a>
        </div>
        <a class="text-md text-capitalize">
          </a>

        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent py-1">
            <i class="far fa-envelope mr-2" aria-hidden="true"></i>
            {{ m.email }}</li>
          <li class="list-group-item bg-transparent py-1">
            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
            0
            -{{ m.phone_num[:3] }}
            -{{ m.phone_num[3:6] }}
            -{{ m.phone_num[6:10] }}
          </li>
          <li class="list-group-item bg-transparent py-1">
            <i class="fa fa-graduation-cap mr-2"></i>
            MemberID: {{ m.id }}
          </li>
          <li class="list-group-item bg-transparent py-1">
            <i class="fas fa-user-tag mr-2"></i>
            UserID: {{ m.user_id }}
          </li>

        </ul>
      </div>
    </article>

  </div>

  {% endfor %}
</div>


{% endblock content %}
