{% extends "layout.html" %}
{% block content %}

<div class="container" name="single-member">
  <div class="row no-gutters align-items-center">
  <div class="col-1">
    <a type="button" class="shadow btn btn-outline-light border-0 bg-secondary btn-block  rnd-xl py-5 tri-left" id=""
      href="{{ url_for('members.show', id=m.id-1) }}">
      <i class="fas fa-chevron-left text-3xl"></i>
    </a>
  </div>
  <div class="col-10">
    <div class="content-section pl-4 pt-3 pr-0 col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <fieldset class="form-group">
        <form method="POST" action="">
          {{ form.hidden_tag() }}

          {% for field in form %}
          {% if field.id == 'csrf_token' %}
          
          
          {% else %}
            <p class="text-monts text-lg text-center my-0">
              {{field.label}}
            </p>

            <div class="form-group align-items-center mb-4">
              <div class="input-group mx-2 mb-0 ">
                <div class="input-group-prepend add-anime">
                  <span class="input-group-text bg-secondary  text-light text-bold" id="inputGroupPrepend">
                    <i class="fa{{icons(field.id)}} fa-fw ml-2 mt-0 animated infinite heartBeat"></i>
                  </span>
                </div>
                {{field(class="border-light custom-select shadow mr-2" )}}
              </div>

            </div>

          {% endif %}

          {% endfor %}
          <div class="form-group">
            <div class="row">
              <div class="col-8 offset-2">
                <input class="shadow btn btn-outline-primary btn-block bg-primary rnd-2xl text-monts mt-2 pt-1 pb-3 text-light text-xl border-0"
                  type="submit" value="Submit">
                  
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
  <div class="col-1">
    <a type="button" class="shadow btn btn-outline-light border-0 bg-secondary btn-block  rnd-xl py-5 tri-right" id=""
      href="{{ url_for('members.show', id=m.id+1) }}">
      <i class="fas fa-chevron-right text-3xl"></i>
    </a>
  </div>
  </div>
  <div class="row align-items-center text-center">

    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 content-section pb-5">
<div class="row">
        <div class="col-6 text-center">
        <img class="rounded-circle member-img img-fluid p-0" src="{{ m.img_url  }}" alt="{{ m.id }}-photo">
      </div>
      <div class="col-6 text-center">
                  <nav class="nav flex-column text-left">
            {% set member_actions = [
              ('https://{}'.format(m.twitter),'twitter'),
              ('https://{}'.format(m.instagram),'instagram'),
              ('https://{}'.format(m.linkedin),'linkedin'),
                                ] %}

            {% for url, icon in member_actions %}
            {% if url !='https://' %}
            <li class="nav-item text-nowrap add-anime rnd-lg border-bottom border-primary mr-2 my-3">
              <a class="nav-link text-center text-italic  text-lg " href="{{ url }}">
                <i class="fab fa-{{icon}} fa-fw text-3xl"></i>
              </a>
            </li>
            {% else %}
              <li class="nav-item text-nowrap disabled rnd-lg border-bottom border-secondary mr-2 my-3">
                <a class="nav-link text-center text-italic  text-lg " href="{{ url }}">
                  <i class="fab fa-{{icon}} text-secondary opac-50 fa-fw text-3xl"></i>
                </a>
              </li>
            
            {% endif %}


            {% endfor %}
          </nav>
      </div>
</div>
        <table class="table table-hover table-light table-sm table-borderless bg-transparent mt-2">
          <thead class="text-sm text-light">
            <th scope="col" class="{{bg_row(m.gender)}} ">
              <i class="fas fa-id-card float-left text-xl"></i>
            </th>
            <th scope="col" class="{{bg_row(m.gender)}} ">
              Full Name
            </th>
            <th scope="col" class="{{bg_row(m.gender)}} text-uppercase">
              {{m.last_name}},
              {{m.first_name}}
              {{m.middle_name}}
            </th>

          </thead>

          {% set member_visible= [
            ('asterisk',m.first_name,'First Name', ),
            ('question',m.middle_name,'Middle Name',),
            ('asterisk',m.last_name,'Last Name', ),
            ] %}
          
            <tbody class="bg-transparent text-sm">
              
              
              
              {% for icon,value,label in member_visible %}
              
              <tr>
                <th scope="row" class="{{bg_row( m.gender)}} text-light">
                  <i class="fas fa-{{icon}}"></i>
                </th>

                <td class="{{ bg_row(m.gender)}} text-light text-left">{{label}}</td>


                <td class="text-left text-uppercase"> {{value}}</td>
              </tr>
              {% endfor %}

          </tbody>
        </table>

    </div>
  </div>
</div>

{% endblock content %}
