{% set pagey = {
  'Show Members' :  members,
  'Show Users' :  users,
} %}
<div class="text-center" name="pagination">
{% for page_num in pagey[table_mode].iter_pages(left_edge=5, right_edge=5, left_current=5, right_current=10) %}
{% if page_num %}
{% if pagey[table_mode].page == page_num %}
<a class="btn btn-light bg-transparent border-0 mb-4 text-xl" href="{{ url_for('admins.dashboard', page=page_num) }}" >
  {{ page_num }}

</a>
{% else %}
<a class="btn btn-outline-light mb-4 text-xl" href="{{ url_for('admins.dashboard', page=page_num) }}">{{ page_num }}
</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

</div>   
