                <h6 class="sidebar-heading d-flex justify-content-between align-items-center pr-2 pl-4 mt-0 mb-1">
                <span>
                  <a class="text-light{{accessible}}" href="{{href}}">
                    {{caption}}

                  </a>
                </span>
                <a class="d-flex align-items-center{{accessible}}" href="{{href}}" aria-label="Add a new report">
              <span class="fa-stack text-mini fa-2x text-center mr-2 anim">
                {% if icon %}
                <i class="fas fa-square fa-stack-2x fa-fw text-light opac-70"></i>
                <i
                  class="fas fa-{{icon}} fa-stack-1x fa-fw fa-inverse text-primary"></i>
                {% endif %}
              </span>                  
                </a>
              </h6>
