{% extends "layout.html" %}
{% block content %}
<div class="mini" name="MAIN-requests-notes">
  {% for user_id, user_requests in disp_reqs.items() %}
  {% for category, sorted in user_requests.items() %}
  {% if user_id in requestors %}
  <hr>
  <div name="user-header" class="d-flex flex-row justify-content-between"
    name="user-section-header">
    category: {{category}}
    <a class="btn btn-outline-primary btn-sm border-0 p-1"
      data-toggle="tooltip" data-placement="bottom"
      title="user requests and admin notes">
      <h5 class="far fa-user text-md">
        <strong>{{user_id}}</strong>
      </h5>
    </a>

  </div>

  {% for obj in sorted %}
  {% if obj.type == 'req' %}
  {% set req = obj  %}
  <div class="media mt-2 rnd-3xl p-0 add-anime shadow">
    <h1
      class="far fa-envelope-open bg-{{styles(req.status)}} text-light text-center align-self-center rnd-xl ml-4 p-3">
    </h1>
    <div class="media-body pb-2 pt-0" style="vertical-align: middle;">
      <div class="d-flex flex-row justify-content-between">
        <h6 class="mt-2 border-bottom border-med ">
          User ID
          <i class="text-bold text-nonitalic"># {{req.user_id}}</i>
          's <strong class="text-italic">{{req.category}}</strong>
          request message
        </h6>
        <a class="fas fa-question bg-{{styles(req.status)}} text-light rnd-2xl text-md disabled mt-2 mr-3 mt-2 mr-3 p-2" data-toggle="tooltip" data-placement="bottom" title="request made by current user">
        </a>

      </div>

      {% set  user_req_set = [
              ('text-xl mr-2', 'text-md rnd-lg border-bottom border-med border-warning pb-2 mb-2 mr-3 shadow-sm', 'req_content', req.content,),
              ('text-lg mr-4', 'text-md ', 'date_posted', req.date_posted.date(),),
              ('text-lg mr-4', 'text-md ', req.status, req.status,),
              ]  %}

      {% for icon_style, style, attr, req_attr in user_req_set %}
      <p class="text-dark text-italic pl-2 mb-1 {{style}}">
        <i class="fa{{icons(attr)}} {{icon_style}} fa-fw"></i>{{req_attr}}
      </p>

      {% endfor %}
    </div>
  </div>
  {% else %}
  {% set note = obj %}
  <div class="media mt-4 rnd-xl p-1 offset-2 anim-shd border-bottom border-med border-{{ styles(note.status) }}">
    <h1
      class="fa{{icons(note.status)}} text-{{styles(note.status)}} txt-shd fa-pull-left align-self-center mr-4 ml-3">
    </h1>

    <div class="media-body text-{{styles(note.status)}}"
      style="vertical-align: middle;">
      <div class="d-flex flex-row justify-content-between">
        <h6 class="mt-0 border-bottom border-{{styles(note.status)}}">
          Admin ID#
          {{note.admin_id}} noted:</h6>
        <a class="disabled">
          <h5 class="far fa-question-circle text-{{styles(note.status)}} fa-pull-right text-shd" data-toggle="tooltip" data-placement="bottom" title="{{tooltip_titles(note.status)}} ">
          </h5>
        </a>
      </div>
      {% set  adm_note_set = [
              ('text-xl mr-4', 'text-md text-left text-dark border-bottom rnd-lg pb-2', 'note_content', note.content,),
              ('text-lg mr-4', 'text-sm ', 'date_posted', note.date_posted.date(),),
              ('text-lg mr-4', 'text-sm ', note.status, note.status,),
              ]  %}

      {% for icon_style, style, attr, note_attr in adm_note_set %}
      <p class="text-italic pl-2 mb-1 {{style}}">
        <i class="fa{{icons(attr)}} {{icon_style}} fa-fw"></i>{{note_attr}}
      </p>

      {% endfor %}



      </i>
    </div>

  </div>
  {% endif %}
  {% endfor %}


  <style>
    .text-shdlong {
      text-shadow: 12px 8px 12px #0000005b;
    }
  </style>

  {% endif %}

  {% endfor %}
  {% endfor %}
</div>

<hr class="mini my-1">

<div class="card-group d-flex flex-row justify-content-between form-mini mt-0" name="user-request-forms">

  {% set user_stats = [
    ( 'is_member', 'member', 'user-graduate',  member_form ),
    ( 'is_admin',  'admin', 'user-md', admin_form),
    ( 'is_prez',   'prez', 'fas fa-graduation-cap', prez_form ),
      ] %}
  
  {% for status, header, icon, form in user_stats %}
  {% if current_user[status] == 'y' %}

  <div class="card border-0 text-center mt-0">
    <div class="card-body align-items-center mb-0">
      
      <form method="POST" action="">
        <div class="form-group py-0 mb-0">
          <select class="custom-select text-primary text-center  text-comfo border-0 mb-2" id="category" name="category" value="{{header}}" >
            <option value="{{header}}" selected>{{header}}</option>
          </select>
          
        </div>  
        <h1 class="mt-2 card-title fas fa-{{icon}} text-primary opac-50"></h1>
        <hr class="border-primary my-0 mx-2">
        <div class="form-group py-0 mb-0">
          <textarea class="form-control text-center text-italic text-primary border-0 bg-transparent" readonly>Already a member!</textarea>
        </div>  
        <div class="form-group py-0 mb-0">
          <a class="btn btn-outline-primary btn-block border-0 text-italic disabled mt-2">
            <i class="far fa-check-circle text-2xl"></i>
          </a>
        </div>  
        
      </form>

    </div>
  </div>
  {% else %}
    <div class="card border-0 text-center">
      <div class="card-body align-items-center mb-0">
        
        <form method="POST" action="">
          <div class="form-group py-0 mb-0">
            <select class="custom-select text-secondary text-center  text-comfo border-0 shadow mb-2" id="category" name="category" value="{{header}}" >
              <option value="{{header}}" selected>{{header}}</option>
            </select>
            
          </div>  
          <h1 class="mt-2 card-title fas fa-{{icon}} text-secondary opac-50"></h1>
          <div class="form-group py-0 mb-0">
            {{form.content(class="form-control  text-italic mb-0" ) }}
          </div>  
          <div class="form-group py-0 mb-0">
            {{form.submit(class="btn btn-outline-primary btn-block border-0 shadow mt-2" ) }}
          </div>  
          
        </form>
  
      </div>
    </div>
    
  {% endif %}
  
  {% endfor %}

</div>
<div name="legend-requests" class="mini mb-0">
  <div class="d-flex flex-row justify-content-around mb-0">
    <i>status</i>
    <i>category</i>
  </div>
  <nav class="nav nav-fill my-0">

    {% set legend = [
        ('denied','gavel', 'danger', ), 
        ('pending', 'balance-scale', 'info', ),
        ('approved','stamp', 'primary', ),
        ('admin','user-md', 'dark opac-50', ), 
        ('member','user-check', 'dark opac-50', ), 
        ('prez','user-graduate', 'dark opac-50', ), 
        ]  %}

    {% for info,icon,style in legend %}

    <li class="nav-item text-italic text-sm py-0">
      <a class="nav-link disabled mb-0">
        <button class="btn btn-{{style}} btn-sm mb-0" type="button">
          <i class="fas fa-{{icon}} fa-fw"></i>
        </button>
      </a>
      {{info}}
    </li>

    {% endfor %}

  </nav>
</div>
{% endblock %}
