{% extends "layout.html" %}
{% block content %}

<div class="container mini">
  
  {% set status_legend = [
    ('envelope-open', 'received', ),
    ('balance-scale', 'pending review', ),
    ('stamp', 'approved', ),
    ('gavel', 'denied', ),
    ] %}
    
    <div class="form-mini d-flex flex-row justify-content-between align-items-center mb-0">
  
    {% for icon, status in status_legend %}
    <p class="text-center opac-80">
      <i class="fas fa-{{icon}} text-lg" ></i>
      
      <br>

      <i> {{status}}</i>

    </p>



        {% endfor %}
    </div>

</div>

<hr class="mini my-1">

<div class="card-group d-flex flex-row justify-content-between form-mini mt-0" name="user-request-forms">

  {% set user_stats = [
    ( 'is_member', 'member', 'user-graduate',  member_form ),
    ( 'is_admin',  'admin', 'user-md', admin_form),
    ( 'is_prez',   'prez', 'fas fa-graduation-cap', prez_form ),
      ] %}
  
  {% for status, header, icon, form in user_stats %}
  {% if current_user[status] == 'y' %}

  <div class="card border-0 text-center mt-0">
    <div class="card-body align-items-center mb-0">
      
      <form method="POST" action="">
        <div class="form-group py-0 mb-0">
          <select class="custom-select text-primary text-center  text-comfo border-0 mb-2" id="category" name="category" value="{{header}}" >
            <option value="{{header}}" selected>{{header}}</option>
          </select>
          
        </div>  
        <h1 class="mt-2 card-title fas fa-{{icon}} text-primary opac-50"></h1>
        <hr class="border-primary my-0 mx-2">
        <div class="form-group py-0 mb-0">
          <textarea class="form-control text-center text-italic text-primary border-0 bg-transparent" readonly>Already a member!</textarea>
        </div>  
        <div class="form-group py-0 mb-0">
          <a class="btn btn-outline-primary btn-block border-0 text-italic disabled mt-2">
            <i class="far fa-check-circle text-2xl"></i>
          </a>
        </div>  
        
      </form>

    </div>
  </div>
  {% else %}
    <div class="card border-0 text-center">
      <div class="card-body align-items-center mb-0">
        
        <form method="POST" action="">
          <div class="form-group py-0 mb-0">
            <select class="custom-select text-secondary text-center  text-comfo border-0 shadow mb-2" id="category" name="category" value="{{header}}" >
              <option value="{{header}}" selected>{{header}}</option>
            </select>
            
          </div>  
          <h1 class="mt-2 card-title fas fa-{{icon}} text-secondary opac-50"></h1>
          <div class="form-group py-0 mb-0">
            {{form.content(class="form-control  text-italic mb-0" ) }}
          </div>  
          <div class="form-group py-0 mb-0">
            {{form.submit(class="btn btn-outline-primary btn-block border-0 shadow mt-2" ) }}
          </div>  
          
        </form>
  
      </div>
    </div>
    
  {% endif %}
  
  {% endfor %}

</div>

{% endblock %}
