{% extends "layout.html" %}
{% block content %}


<div class="card-group d-flex flex-row justify-content-between form-mini" name="status-summary">

  {% set user_stats = [
    ( 'is_member', 'member', 'user-graduate',  member_form ),
    ( 'is_admin',  'admin', 'user-md', admin_form),
    ( 'is_prez',   'prez', 'fas fa-graduation-cap', prez_form ),
      ] %}
  
  {% for status, header, icon, form in user_stats %}
  {% if current_user[status] == 'y' %}
    <div class="card border-0 text-center">
      <div class="mt-2 card-header bg-transparent p-0 py-2 border-0 text-primary text-bold text-comfo shadow">{{header}}</div>
      <div class="card-body m-0 p-0">
        <h1 class="my-4 card-title fas fa-{{icon}} text-primary opac-50"></h1>
        <p class="card-text text-italic text-primary opac-80 mt-2">Already a {{header}} </p>
      </div>
    </div>
  {% else %}
    <div class="card border-0 text-center">
      <div class="card-header bg-transparent pb-0 mb-0 align-baseline  text-secondary text-capitalize text-center bottom-bottom border-secondary mx-2 opac-80"> 
          {{header}} 
      </div>
      <div class="card-body align-items-center mb-0">
        <h1 class="mt-2 card-title fas fa-{{icon}} text-secondary opac-50"></h1>
        <form method="get" action="/user/{{current_user.id}}/requests/{{header}}">
        <div class="form-group py-0 mb-0">
          {{form.content(class="form-control  text-italic mb-0" ) }}
        </div>  
        <div class="form-group py-0 mb-0">
          {{form.submit(class="btn btn-outline-primary border-0 mb-0" ) }}
        </div>  
<!--         
        <div class="form-group py-0 mb-0">
          <a href="/user/{{current_user.id}}/requests/{{header}}" class="btn btn-outline-primary border-0 mb-0" >action</a>
        </div>   -->

        </form>
  
      </div>
    </div>
    
  {% endif %}
  
  {% endfor %}

</div>

{% endblock %}
