@import "table.css";  
@import "range.css";  
@import "text.css";  
@import "series.css";  
@import "panel.css";  

.body{
  padding-top: 5rem;
}

.member-img{
  font-size: 2.25rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .member-img {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .article-img {
    font-size: 3.5rem;
  }
}

.article-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-section {
  padding-top: 3rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  border-radius: 2.50rem;
  margin-bottom: 20px;
  filter: none;
  border: 2px solid #f3969b26;
  box-shadow: 0 0.5rem 0.75rem #f3969b52;
  box-shadow: 0 0.5rem 0.75rem #289b7a3d;  
}

.article-title {
  color: #78c2ad;
  color: #f3969a;
  font-size: 2rem;
}

a.article-title:hover {
  color: #ca9a42;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  font-size: 1.25rem;
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  font-size: 1.25rem;
  color: rgb(255, 0, 191);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.legend {
  font-size : 2.50rem;
  font-style : bold;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #78c2ad;
  color: #f3969a;
  text-shadow: 3px 3px #f3969b4b;
  text-shadow: 3px 3px #78c2ad52;
}


.led-xl  {
  font-size: 2rem;
  margin: 2px 2px 2px 2px;
  padding: 4px 8px 4px 8px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
}

.led-horizontal  {
  font-size: 1.50rem;
  margin: 1px 8px 1px 8px;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-lg  {
  font-size: 1.75rem;
  padding: 1px 4px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-md  {
  font-size: 1.25rem;
  padding: 1px 4px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
}

.led-sm  {
  font-size: 1rem;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}
/* set map, body, and html to 100% of the screen size */
body,
html {
  width: 99.4%;
  height: 99%;
}



.bg-rowf {
  background-image: linear-gradient(180deg, #ff74b5b2, #e83e8c);
} 
.bg-membf {
  background-image: linear-gradient(180deg, #ff74b5b2, #e83e8c);
}
.bg-rowm {
    background-image: linear-gradient(180deg, #007bffab, #0562c5cc);
  }
  .bg-membm {
    background-image: linear-gradient(180deg, #007bffab, #0562c5cc);
}

.bg-membf {
  background-image: linear-gradient(#e83e8d36, #e83e8d4b 60%, #e83e8d60);
}
.bg-membm {
  background-image: linear-gradient(#6cc3d52f, #6cc3d562 60%, #3782916b);
}

.shd-none {
  box-shadow: 0px 0px 0px #5dccee  ,  inset 0px 0px 0px #5dccee;
}

.jackpot line {
  /* stroke: #5d7afa; */
  stroke: #78c2ad;
  stroke-width: 2px;
  stroke-opacity: 0.7;
  stroke-linecap: nice;
}

.jackpot path {
  stroke: #78c2ad;
  stroke-width: 3px;
  stroke-linecap: nice;
  stroke-opacity: 0.3;
}

.jackpot text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 2px 1px #f3969b6b;
  fill: #78c2ad;
}
.text-disp  {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-shadow: 2px 1px #78c2adc5;
  fill: #f3969a;
}
.tri-right{
  border-radius: 0.5rem 4.5rem 4.5rem 0.5rem;

}
.tri-left{
  border-radius: 4.5rem 0.5rem 0.5rem 4.5rem;

}

.footer {
  font-family: 'Baloo 2', sans-serif;
  font-size: 0.80rem;
  font-style: italic;
}
.glassy {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.glassy:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.evt-clk{
  border: 0px solid #dddddd;
  border-radius: 1rem;
}

.text-outlined {
  font-size : 1.75rem;
  text-align: center;
      font-family: 'Montserrat', sans-serif;
  opacity: 80%;
  text-shadow: -2px 0 white,
    0 2px white,
    2px 0 white,
    0 -2px white;
}

.add-anime:hover {
	box-shadow: rgb(177, 159, 238) -5px 15px 15px;
	color: #2aa198;
	transform: scale(1.1, 1.1);
}
.add-anime:hover:first-child {
	box-shadow: rgb(177, 159, 238) -5px 15px 15px;
}
.add-anime:hover:last-child {
	box-shadow: rgb(230, 194, 111) 5px 15px 15px;
}


.lumen{
  background-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(56, 157, 196, 0.5);
}

.txt-shd{
  text-shadow: 3px 3px #00e1ff38;
}

.side-title {
  font-family: 'Montserrat Alternates', sans-serif;
}      
.anim {
  margin-left: 1rem;
  margin-right: 1rem;
}
.anim:hover {
  box-shadow:rgb(99, 226, 192) -5px 15px 15px,inset 4px 1px 4px 4px #ffffff55;
  background-color: rgba(255, 255, 255, 0);
  color: cadetblue;
  border-radius: 0.5rem;
  text-transform: uppercase !important;
}  

.sidebar {
padding: 1rem 0rem 0rem 0rem;
/* Height of navbar */
background-image: linear-gradient(#438d78, #78c2ad 45%, #00815c);
box-shadow: 0px 0px 0px #f3969b3f, 
inset 0px 10px 10px #f3969b46;
}

.sidebar-sticky {
  height: calc(100vh - 30px);
}

.legend {
  font-size: 2.0rem;
}

.fa-stack {
  font-size: 1.50rem;
}
.text-mini {
  font-size: 0.9rem;
}

i {
  vertical-align: middle;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
}

.bg-side{
  background-image: linear-gradient(to right, rgb(120, 194, 173) , rgb(255, 255, 255));
    box-shadow:0px 0px 20px 0px rgb(120,194,173) inset;  
}
  
.form-mini {
  width: 100%;
  max-width: 440px;
  padding: 10px;
  margin: auto;
} 

.mini {
  width: 100%;
  margin: auto;
  max-width: 440px;
  padding: 10px;
} 

.bg-silver {
  background-color: rgba(146, 146, 146, 0.733);
}

.bg-darkodd {
  background-color: rgba(0, 0, 0, 0.105);
}

.bg-darkeven {
  background-color: rgba(0, 0, 0, 0.125);
}
  .shd-approve {
  box-shadow: 0 0.5rem 0.75rem #ff039648;  
}
  .shd-decline {
  box-shadow: 0 0.5rem 0.75rem #25e9774d;  
}
.align-middle {
  vertical-align: middle;
}
