.bg-body{
  margin-top: 60px;
  background-image: linear-gradient(180deg, #ffffff0c, #c2787807);
}

:root {
   --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #ff7851;
  --orange: #fd7e14;
  --yellow: #ffce67;
  --green: #56cc9d;
  --teal: #20c997;
  --cyan: #6cc3d5;
  --white: #fff;
  --gray: #888;
  --gray-dark: #343a40;
  --primary: #78c2ad;
  --secondary: #f3969a;
  --success: #56cc9d;
  --info: #6cc3d5;
  --warning: #ffce67;
  --danger: #ff7851;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
}

.bg-pink {
 background-color : -pink;
}

.member-img{
  font-size: 2.25rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .member-img {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .article-img {
    font-size: 3.5rem;
  }
}


.table-img {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.table-img img{
  max-height: 2.75rem;
}


.article-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.content-section {
  padding-top: 3rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  border-radius: 2.50rem;
  margin-bottom: 20px;
  filter: none;
  border: 2px solid #f3969b26;
  box-shadow: 0 0.5rem 0.75rem #f3969b52;  
  box-shadow: 0 0.5rem 0.75rem #289b7a3d;  
}

.article-title {
  color: #78c2ad;
  color: #f3969a;
  font-size: 2rem;
}

a.article-title:hover {
  color: #ca9a42;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  font-size: 1.25rem;
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  font-size: 1.25rem;
  color: rgb(255, 0, 191);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


.opac-100 {
  opacity: 1;
}

.opac-90 {
  opacity: 0.9;
}

.opac-80 {
  opacity: 0.8;
}

.opac-70 {
  opacity: 0.7;
}

.opac-60 {
  opacity: 0.6;
}

.opac-50 {
  opacity: 0.5;
}

.opac-40 {
  opacity: 0.4;
}
.opac-30 {
  opacity: 0.3;
}
.opac-20 {
  opacity: 0.2;
}
.opac-10 {
  opacity: 0.1;
}

.border-med {
  border-width: medium;
}

.text-bold {
  font-weight: bold;
}
.text-bold text {
  font-weight: bold;
}
.text-nonitalic {
  font-style: normal;
}
.text-italic {
  font-style: italic;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.50rem;
}

.text-2xl {
  font-size: 1.75rem;
}

.text-3xl {
  font-size: 2.00rem;
}

.text-4xl {
  font-size: 2.5rem;
}
.text-sm {
  font-size: 0.80rem;
}

.text-xs {
  font-size: 0.70rem;
}

.text-2xs {
  font-size: 0.60rem;
}

.text-3xs {
  font-size: 0.50rem;
}

.text-comfo {
  font-family: 'Comfortaa', sans-serif;
}

.text-digi {
  font-family: 'Orbitron', sans-serif;
}

.text-cond {
  font-family: 'Roboto Condensed', sans-serif;
}
.text-major {
  font-family: 'Major Mono Display', monospace;
}
.text-nova {
  font-family: 'Nova Mono', monospace;
}
.text-robo {
  font-family: 'Roboto', sans-serif;
}

.text-balo {
  font-family: 'Baloo 2', sans-serif;
}
.text-monts {
  font-family: 'Montserrat Alternates', sans-serif;
}
.text-lili {
  font-family: 'Lilita One', cursive;
}

.bg-black {
  background-color: black;
}


.rnd-arc {
  border-radius: 49% 49% 7% 7% ;
}

.rnd-qtr {
  border-radius: 7% / 13%;
}

.rnd-half {
  border-radius: 50% / 50%;
}

.rnd-md {
  border-radius: 4px;
}
.rnd-lg {
  border-radius: 6px;
}

.rnd-xl {
  border-radius: 8px;
}

.rnd-2xl {
  border-radius: 12px;
}

.rnd-3xl {
  border-radius: 16px;
}

.legend {
  font-size : 2.50rem;
  font-style : bold;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #78c2ad;
  color: #f3969a;
  text-shadow: 3px 3px #f3969b4b;
  text-shadow: 3px 3px #78c2ad52;
}


.led-xl  {
  font-size: 2rem;
  margin: 2px 2px 2px 2px;
  padding: 4px 8px 4px 8px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
}

.led-horizontal  {
  font-size: 1.50rem;
  margin: 1px 8px 1px 8px;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-lg  {
  font-size: 1.75rem;
  padding: 1px 4px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}

.led-md  {
  font-size: 1.25rem;
  padding: 1px 4px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
}

.led-sm  {
  font-size: 1rem;
  padding: 1px 6px 1px 4px;
  border-radius: 7% / 13%;
  background-color: rgb(0, 0, 0);
  color: rgb(253, 109, 14);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0px 0px #d1d5e9;
}
/* set map, body, and html to 100% of the screen size */
body,
html {
  width: 99.4%;
  height: 99%;
}


tbody th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

tbody td:nth-child(2) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(3) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(4) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(5) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(6) {
  border-radius: 0 0 0 0;
}

tbody td:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}
thead th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}


thead th:nth-child(2) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(3) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(4) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(5) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(6) {
  border-radius: 0 0 0 0;
}

thead th:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}
.bg-rowf {
  background-image: linear-gradient(180deg, #ff74b5b2, #e83e8c);
} 
.bg-membf {
  background-image: linear-gradient(180deg, #ff74b5b2, #e83e8c);
}
.bg-rowm {
    background-image: linear-gradient(180deg, #007bffab, #0562c5cc);
  }
  .bg-membm {
    background-image: linear-gradient(180deg, #007bffab, #0562c5cc);
}

.text-membf {
  color:#e83e8c ;
}
.text-membm {
  color:#007bff ;
}
.bg-membf {
  background-image: linear-gradient(#e83e8d36, #e83e8d4b 60%, #e83e8d60);
}
.bg-membm {
  background-image: linear-gradient(#6cc3d52f, #6cc3d562 60%, #3782916b);
}

.shd-none {
  box-shadow: 0px 0px 0px #5dccee  ,  inset 0px 0px 0px #5dccee;
}

.jackpot line {
  /* stroke: #5d7afa; */
  stroke: #78c2ad;
  stroke-width: 2px;
  stroke-opacity: 0.7;
  stroke-linecap: nice;
}

.jackpot path {
  stroke: #78c2ad;
  stroke-width: 3px;
  stroke-linecap: nice;
  stroke-opacity: 0.3;
}

.jackpot text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 2px 1px #f3969b6b;
  fill: #78c2ad;
}
.text-disp  {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-shadow: 2px 1px #78c2adc5;
  fill: #f3969a;
}
.tri-right{
  border-radius: 0.5rem 4.5rem 4.5rem 0.5rem;

}
.tri-left{
  border-radius: 4.5rem 0.5rem 0.5rem 4.5rem;

}

.footer {
  font-family: 'Baloo 2', sans-serif;
  font-size: 0.80rem;
  font-style: italic;
}
.glassy {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.glassy:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.evt-clk{
  border: 0px solid #dddddd;
  border-radius: 1rem;
}

.text-outlined {
  font-size : 1.75rem;
  text-align: center;
      font-family: 'Montserrat', sans-serif;
  opacity: 80%;
  text-shadow: -2px 0 white,
    0 2px white,
    2px 0 white,
    0 -2px white;
}

.add-anime:hover {
	box-shadow: rgb(177, 159, 238) -5px 15px 15px;
	color: #2aa198;
	transform: scale(1.1, 1.1);
}
.add-anime:hover:first-child {
	box-shadow: rgb(177, 159, 238) -5px 15px 15px;
}
.add-anime:hover:last-child {
	box-shadow: rgb(230, 194, 111) 5px 15px 15px;
}

.lumen{
  background-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(56, 157, 196, 0.5);
}

.txt-shd{
  text-shadow: 3px 3px #00e1ff38;
}

.side-title {
  font-family: 'Montserrat Alternates', sans-serif;
}      
.anim {
  margin-left: 1rem;
  margin-right: 1rem;
}

.anim:hover {
  box-shadow: #78c2ad2a 0px 15px 15px;
  transform: scale(1.1, 1.1);
  
}

.anim:hover {
  box-shadow:rgb(145, 223, 226) -5px 15px 15px,inset 1px 1px 2px #dcfbffc9;
  background-color: white;
  color: cadetblue;
  border-radius: 0.5rem;
  
}

.anim:hover:first-child {
  box-shadow: rgb(145, 255, 209) -5px 15px 15px;
}

.anim:hover:last-child {
  box-shadow: rgb(255, 154, 188) 5px 15px 15px;
}

.sidebar {
  padding: 1rem 0rem 0rem 0rem;
  /* Height of navbar */
  background-image: linear-gradient(#438d78, #78c2ad 45%, #00815c);
  box-shadow: 0px 0px 0px #f3969b3f, inset 0px 10px 10px #f3969b46;
}

.sidebar-sticky {
  height: calc(100vh - 30px);
}


.legend {
  font-size: 2.0rem;
}

.fa-stack {
  font-size: 1.50rem;
}
.text-mini {
  font-size: 1.0rem;
}

i {
  vertical-align: middle;
}

.custrange-vertical::-webkit-slider-thumb {
  width: 4rem;
  height: 4rem;
  margin-top: -0.25rem;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
          appearance: none;
}

.custrange-vertical::-moz-range-track {
  height: 90%;
  width: 0.35rem;
  color: transparent;
  cursor: pointer;
  background-color: #ffffff17;
  border-color: transparent;
  border-radius: 1rem;
}
.custrange-vertical {
  height: 90%;
  width: 0.20rem;
  padding-bottom: 1rem;
  background-color: #78c2ad;
  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custrange-vertical:focus {
  outline: none;
}

.custrange-vertical:focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}

.custrange-vertical:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}

.custrange-vertical:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(47, 164, 231, 0.25);
}

.custrange-vertical::-moz-focus-outer {
  border: 0;
}


@media (prefers-reduced-motion: reduce) {
  .custrange-vertical::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
  }
}

.custrange-vertical::-webkit-slider-thumb:active {
  background-color: #cfeaf9;
}

.custrange-vertical::-webkit-slider-runnable-track {
  height: 100%;
  width: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #9abada;
  border-color: transparent;
  border-radius: 1rem;
}

.cv-right::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  color: white;
  border-radius: 1.00rem 1.00rem 1.00rem 1.00rem;
  background-color: #f3969a;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .custrange-vertical::-moz-range-thumb {
    -webkit-transition: none;
    transition: none;
  }
}

.custrange-vertical::-moz-range-thumb:active {
  background-color: #cfeaf9;
}

.custrange-vertical::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background-color: #2FA4E7;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .custrange-vertical::-ms-thumb {
    -webkit-transition: none;
    transition: none;
  }
}

.custrange-vertical::-ms-thumb:active {
  background-color: #cfdbf9;
}

.custrange-vertical::-ms-track {
  height: 100%;
  width: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0.5rem;
}

.custrange-vertical::-ms-fill-lower {
  background-color: #dee2e6;
  border-radius: 1rem;
}

.custrange-vertical::-ms-fill-upper {
  margin-right: 15px;
  background-color: #dee2e6;
  border-radius: 1rem;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
}
.bg-side{
  background-image: linear-gradient(to right, rgb(120, 194, 173) , rgb(255, 255, 255));
    box-shadow:0px 0px 20px 0px rgb(120,194,173) inset;  
  }
  

.form-mini {
  width: 100%;
  max-width: 440px;
  padding: 10px;
  margin: auto;
} 


.mini {
  width: 100%;
  margin: auto;
  max-width: 440px;
  padding: 10px;
} 

.panel {
  font-size: 1;
}
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 1.25rem;
}

.panel>hr {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 0;
  margin-left: 0;
}
.panel form {
  margin: 0;
}

.panel .panel-header-primary .panel-icon{
  background: linear-gradient(60deg, #93d6c3, #52a890);
}  
.panel .panel-header-secondary .panel-icon{
  background: linear-gradient(60deg, #f3aeb2, #f3878c);
}  
.panel .panel-header {
  border-bottom: none;
  background: transparent;
}
.panel {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.panel-asym .panel-header {
  margin-bottom: 0;
  margin-top: 0;
}

.panel-asym .panel-header.panel-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}
.panel .panel-header-icon .panel-icon{
  border-radius: 3px;
  background-color: #999999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  margin-bottom: 25px;
  float: left;
}


.panel [class*="panel-header-"] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}

.panel .panel-header {
  border-bottom: none;
  background: transparent;
}


.panel .panel-title {
  margin-top: 10px;
  margin-bottom: 3px;
}

.panel-title{
  color: #3C4858;
  text-decoration: none;
}
    .panel-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
.panel-title {
  margin-bottom: 0.5rem;
}
