tbody th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}
tbody td:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

tbody td:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

thead th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

thead th:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

tbody th:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

.table-hov3r  tbody a:hover {
  color: rgb(255, 255, 255);
  background-color: #67ffd155;
  font-style: normal;
  font-weight:bold;
  font-size:0.85rem;    
  text-shadow: 2px 2px 2px #ffffff7a;
}

.table-hov3r  tbody tr:hover {
  color: rgb(255, 255, 255);
  background-color: #67ffd155;
  font-style: normal;
  /* font-weight:bold; */
  font-size:0.85rem;    
  text-shadow: 2px 2px 2px #ffffff71;
}
 
.table-hov3r  tbody {
  font-style:italic;
}

.table-hov3r  tbody th  {
  text-align: center;
  vertical-align: middle;
}
.table-hov3r  tbody td  {
  text-align: center;
  vertical-align: middle;
}

.table-img {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-img img{
  max-height: 2.75rem;
}
