

tbody th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}
tbody td:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}

tbody td:nth-child(2) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(3) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(4) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(5) {
  border-radius: 0 0 0 0;
}

tbody td:nth-child(6) {
  border-radius: 0 0 0 0;
}

tbody td:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}
thead th:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}


thead th:nth-child(2) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(3) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(4) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(5) {
  border-radius: 0 0 0 0;
}

thead th:nth-child(6) {
  border-radius: 0 0 0 0;
}

thead th:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}

.table-hov3r  tbody a:hover {
  color: rgb(255, 255, 255);
  background-color: #67ffd155;
  font-style: normal;
  font-weight:bold;
  font-size:0.85rem;    
  text-shadow: 2px 2px 2px #ffffff;
}

.table-hov3r  tbody tr:hover {
  color: rgb(255, 255, 255);
  background-color: #67ffd155;
  font-style: normal;
  font-weight:bold;
  font-size:0.85rem;    
  text-shadow: 2px 2px 2px #ffffff;
}
 
.table-hov3r  tbody {
  font-style:italic;
}

.table-hov3r  tbody td:hover {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-shadow: 0px 0px 0px #ffffff6b;
  transition-timing-function: ease-in-out;
  transition-delay: 0.10s;
  background-color: #f7fffd;
  color: rgb(45, 129, 97);
  box-shadow: inset 0.15rem 0.15rem 0.40rem 0.40rem #42b89586;
}

.table-hov3r  tbody td  {
  text-align: center;
  vertical-align: middle;
}


.table-img {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.table-img img{
  max-height: 2.75rem;
}
