<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<script src="{{ url_for('static', filename='holder.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-3.js') }}"></script>
		<script src="{{ url_for('static', filename='popper.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/sketchy/bootstrap.min.css"
		/>


		<link
			rel="icon"
			type="image/x-icon"
			class="favicon"
			href="
			http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/256/rainbow-apple-logo-icon.png
			"
		/>
		
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
			integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
			crossorigin="anonymous"
		/>

		{% if title %}
		<title> PythonFlaskBP | {{ title }}</title>
		{% else %}
		<title> PythonFlaskBP</title>
		{% endif %}

	</head>
	<body style="background-color: #FECD82;">
		<nav class="navbar navbar-expand-md navbar-secondary bg-brick fixed-top">

			<a class="navbar-brand" href="/">
				<img src="https://raw.githubusercontent.com/attila5287/task_app_img/master/ndo_demo.png" alt="" style="max-height: 2rem;">
			</a>

			<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
				aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-arrow-circle-down text-secondary fa-2x"></i>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavId">
			  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

				{% if current_user.is_authenticated %}
				<li class="nav-item">
				<a class="nav-link" href="">Module01</a>
				</li>				
				<li class="nav-item">
				  <a class="nav-link" href="">Module02</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="">
						<i class="fas fa-clipboard-list"></i>
						Module01Demo</a>
					</li>				
					<li class="nav-item">
					  <a class="nav-link" href="">
						  <i class="fas fa-football-ball"></i>
						  Module02Demo</a>
					</li>
        {% endif %}
				{% if current_user.is_authenticated %}
				<!-- auth usr -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i>
						NewItemUser</a>
					<div class="dropdown-menu bg-body" aria-labelledby="dropdownId">
						<a class="dropdown-item" href="">
							<i class="fas fa-clipboard-check"></i>
							Module01Item</a>
						<a class="dropdown-item" href="">
							<i class="fas fa-football-ball    "></i>
							Module02Item</a>
					</div>
				</li>
				{% else %}
				<!-- not auth -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-slash"></i>
						NewItemGuest</a>
					<div class="dropdown-menu bg-body" aria-labelledby="dropdownId">
					  <a class="dropdown-item" href="">
						  <i class="fas fa-clipboard-check    "></i>
						  Module01Item</a>
					  <a class="dropdown-item" href="
					  
					  ">
						  <i class="fas fa-football-ball    "></i>
						  Module02Item</a>
					</div>
				  </li>
				  {% endif %}
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.aboutdev') }}">
						<i class="fas fa-pen    "></i>
						<i class="fas fa-signature    "></i>
						abt dev</a>
					</li>
			  </ul>
			</div>
		  </nav>
		  <!-- CHALKBOARD INFO BAR  -->
		  <!-- this is the part that pops up below navbar -->
		<div class="collapse bg-dark text-dark mt-0 mb-0" id="navbarHeader" >
			<div class="d-flex justify-content-around align-items-center mt-0 pt-4 px-2 mx-1 ">
						<small class="text-muted p-0">
							Code basics in stack-like diagram
						</small>
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas  fw fa-flag mt-0"></i>
						</p>
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas fa-fw fa-arrow-right"></i>
						</p>
						<div class="alert alert-light bg-dark border-light text-light text-center mb-1 p-1" role="alert">
							<i class="fas fa-user    "></i>	create a user acct
							&RightArrowLeftArrow; 
							<i class="fas fa-database"></i> stores hash pw into db
						</div>
						
						<p class="text-light text-center mt-0 mb-0 p-0">
						<i class="fas  fa-fw fa-arrow-right mt-0"></i>
						</p>


						<div class="alert alert-light bg-dark border-light text-light text-center mb-1 p-1" role="alert">
							<i class="fas fa-clipboard-list    "></i> user create obj (def: post) via forms
							&RightArrowLeftArrow; 
							<i class="fas fa-database    "></i> stores to db and reads when returned as a result of a query
						</div>
												
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas fa-fw fa-level-down-alt mx-2 mt-0"></i>
						</p>
			</div>
			<div class="d-flex flex-row-reverse justify-content-around align-items-center mt-0 pt-2 px-2 mr-2">
				<p class="text-light text-center mt-0 mb-0 mx-2 p-0">
					<i class="fas fa-level-down-alt  fa-rotate-90 mt-0"></i>
				</p>
				<div class="alert alert-light bg-dark border-light text-light text-center mb-1 p-1"  role="alert">
					<i class="fas fa-clipboard-check    "></i> user updates items/edits or delete records &RightArrowLeftArrow; 
					<i class="fas fa-database    "></i> db stores or removes records
				</div>
				
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-fw fa-arrow-left mt-0"></i>
				</p>

				<div class="alert alert-light bg-dark border-light text-light text-center mb-1 p-1" role="alert">
					<i class="fas fa-chart-line    "></i> user obj itself could also be edited
					&RightArrowLeftArrow;
					<i class="fas fa-image    "></i> db records reflecting the profile pic, email, username.
				</div>
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-fw fa-arrow-left mt-0"></i>
				</p>
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-flag-checkered mt-0"></i>
				</p>

			</div>
		</div>
		</div>
		<div class="navbar navbar-dark bg-orange border-dark box-shadow mt-0">
			<div class="container d-flex justify-content-between pt-2">
				<a class="navbar-brand d-flex align-items-center">
					<i class="fa fa-code mr-2 text-smaller text-muted" aria-hidden="true"> </i >
					<small class="text-dark text-smaller text-muted"> Show Me The Code!</small>
					<i class="fa fa-arrow-right mx-3 text-smaller text-muted" aria-hidden="true"></i>
				</a>
				<button
					class="navbar-toggler border-orange mt-1 p-1"
					type="button"
					data-toggle="collapse"
					data-target="#navbarHeader"
					aria-controls="navbarHeader"
					aria-expanded="false"
					aria-label="Toggle navigation"
					style="border-color: #eeaa88;"
				>
					<i class="fas fa-chalkboard text-dark mt-1">i</i>
				</button>
			</div>
		</div>

		<main role="main" class="container my-2 px-0">
			<div class="row">
				<div class="col-sm-9">
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
					messages %} {% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
					{% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
					%}
				</div>
				<div class="col-sm-3">
					<div class="content-section px-3 py-0">
						<div class="container-fluid text-center my-2 py-0 px-2">
							<div
								class="nav-flex-column text-center"
								style="width: fit-content; height:max-content;"
							>
								<img
									src="https://raw.githubusercontent.com/attila5287/task_app_img/master/nodaysoff_menuedt.ico"
									class="card-img-top mb-2"
								/>
								{% if current_user.is_authenticated %}

								<a
									class="nav-item btn btn-large bg-gold nav-link text-dark border-dark pb-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="score points as you complete tasks color grouped depending on their urgency-importance levels with a score-dynamic avatar of user-preferred theme"
									style="border-width: medium;"
								>
									<i class="fas fa-trophy"> Task Hero </i>
								</a>
								<a class="nav-item">
									<div class="row">
										<div class="col-xs-6">
											<a
												class="nav-link text-dark p b-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="create a new task, select urgency-importance so app will assign points then complete to score points"
											>
												<i class="fas fa-dolly"> New Task </i>
											</a>
										</div>
										<div class="col-xs-6">
											<a
												class="nav-link text-dark mb-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="lists all tasks in a minimalist way with no points or colors, swipe through your TODO list fast!"
											>
												<i class="fas fa-list-ul"> Mini~Ma~List </i>
											</a>
										</div>
									</div>
								</a>
								<a
									class="nav-item btn btn-large bg-grass nav-link text-dark border-dark mb-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="Plan a productive day by adding activities and try to keep up by tracking your score.A fun way to organize daily activities. Could be any day, week end, work day etc."
									style="border-width: medium;"
								>
									<i class="fas fa-football-ball"> Pro Day</i>
								</a>

								<a class="nav-item">
									<div class="row">
										<div class="col-xs-6">
											<a
												class="nav-link text-dark mb-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="Start planning a productive day by adding activities. Check examples on the playbook first!"
											>
												<i class="fas fa-chalkboard-teacher">
													Game Plan
												</i>
											</a>
										</div>
										<div class="col-xs-6">
											<a
												class="nav-link text-dark mb-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="sample pro-days to review, intro to activities, categories and scoring points.Game up!"
											>
												<i class="fas fa-book">
													PlayBook
												</i>
											</a>
										</div>
									</div>
								</a>

								<a
									class="nav-item btn btn-large bg-brick nav-link text-dark border-dark mb-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="the art of setting goals and crossing them off your list! App will help you set goals under five key metrics then much more to track those!"
									style="border-width: medium;"
								>
									<i class="fas fa-parachute-box"> SMART GoalTracker</i>
								</a>
								<a class="nav-item">
									<div class="row">
										<div class="col-xs-6">
											<a
												class="nav-link text-dark mb-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="set a goal first by filling out the forms"
											>
												<i class="fas fa-crosshairs">
													Set A Goal
												</i>
											</a>
										</div>
										<div class="col-xs-6">
											<a
												class="nav-link text-dark mb-2"
												href=""
												data-toggle="tooltip"
												data-placement="right"
												title="about SMART:"
											>
												<i class="fas fa-binoculars"> Track'N</i>
											</a>
										</div>
									</div>
								</a>

								<a
									class="nav-item btn btn-large bg-sky nav-link text-dark border-dark mb-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="introduced by Nancy Ratey, app will take you through this self-coaching strategy step by step to structure a sustainable strategy with easy-to-remember mechanics."
									style="border-width: medium;"
								>
									<i class="fas fa-puzzle-piece">
										ANSWER Self-Coaching
									</i>
								</a>
								<a
									class="nav-item btn btn-small bg-orange nav-link text-dark border-dark mb-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="generates random cards with quotes from inspirational figures, authors, writers, motivational speakers, personal coaches; 1oo% dev's choices!"
									style="border-width: medium;"
								>
									<i class="fas fa-quote-left"> got Inspired? </i>
									<i class="fas fa-quote-right"></i>
								</a>
								<div class="row">
									<div class="col-xs-6">
										<a
											class="nav-item nav-link text-dark col-md-10"
											href="{{ url_for('users.account') }}"
										>
											<i class="fas fa-cogs mr-2"> Account</i>
										</a>
									</div>
									<div class="col-xs-6">
										<a
											class="nav-item nav-link text-dark2"
											href="{{ url_for('users.logout') }}"
										>
											<i class="fas fa-sign-out-alt mr-2"> Logout</i></a
										>
									</div>
								</div>

								{% else %}
								<a
									class="nav-item btn btn-large bg-orange nav-link text-dark border-dark mb-2"
									href="{{ url_for('main.about') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="info abt app: complete tasks grouped under urgency-importance and score points accordingly,  TODO"
									style="border-width: medium;"
								>
									<img
										src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_task_info.ico"
										style="height: 2rem;"
									/>
								</a>
								<a
									class="nav-item btn btn-large bg-orange nav-link text-dark border-dark mb-2"
									href="{{ url_for('users.register') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="complete tasks grouped under urgency-importance and score points accordingly,  TODO"
									style="border-width: medium;"
								>
									<img
										src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_register.ico"
										style="height: 2rem;"
									/>
								</a>
								<a
									class="nav-item btn btn-large bg-orange nav-link text-dark border-dark mb-2"
									href="{{ url_for('users.login') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="complete tasks grouped under urgency-importance and score points accordingly,  TODO"
									style="border-width: medium;"
								>
									<img
										src="https://raw.githubusercontent.com/attila5287/task_app_img/master/noDaysOff_login.ico"
										style="height: 2rem;"
									/>
								</a>

								{% endif %}

								<img
									class="card-img-top mb-2"
									src="https://raw.githubusercontent.com/attila5287/task_app_img/master/nodaysoff_menu_bottomedt.ico"
								/> 

								<div class="card border-body">
									<div class="card-body bg-body border-body p-1">
										<small
											class="card-subtitle text-muted"
											style="font-style: italic;"
										> blueprinted by: 										
										<i class="fa fa-code-branch text-muted ml-2" aria-hidden="true"
										> attila#52 </i>
									</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		

		<footer class="footer">
			<div class="row bg-body">
				<div class="col-sm-6 offset-sm-3">
					<div class="d-flex flex-row justify-content-around bg-body text-muted text-center text-bottom my-0">
						<a> &middot;</a>
						<a>BoilerPlate </a><a> &middot;</a>
						<a>BluePrint </a><a> &middot;</a>
						<a>by Attila Turkoz </a><a> &middot;</a>
						<a>Github: @attila5287 </a><a> &middot;</a>
						<a>Full Stack Web App </a><a> &middot;</a>
					</div>
				</div>
			</div>
				<div class="row bg-body">
					<div class="col-sm-8 offset-sm-2">
						<div class="d-flex flex-row justify-content-between bg-body text-muted text-bottom mt-0">
							<a> &middot;</a><a>Python Object Oriented Programming</a><a>&middot;</a>
							<a>Flask Web FrameWork</a><a>&middot;</a>
							<a>PostgreSQL Database</a><a>&middot;</a>
							<a>Heroku Server (SalesForce)</a><a>&middot;</a>
							<a>Bootstrap Front End</a><a>&middot;</a>
						</div>
					</div>
				</div>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<style>
			.bg-body {
				background-color: #fecd82;
			  }
			  .border-body {
				border-color: #fecd82;
				border-width: medium;
			  }
			  .border-brick {
				border-color: rgb(212, 125, 119);
			  }			  
			  .bg-grass {
				background-color: rgba(170, 177, 130, 0.877);
			  }
			  .bg-sky {
				background-color: rgba(152, 170, 199, 0.883);
			  }
			  .bg-orange {
				background-color: #eeaa88;
			  }
			  .bg-bisque {
				background-color: rgb(250, 208, 184);
			  }
			  .bg-brick {
				background-color: rgb(212, 125, 119);
			  }
			  .bg-gold {
				background-color: rgba(238, 156, 79, 0.966);
			  }
			  .bg-silver {
				background-color: rgba(221, 226, 225, 0.932);
			  }
			  html {
				position: relative;
				min-height: 100%;
			  }
			  body {
				margin-bottom: 60px; /* Margin bottom by footer height */
			  }
			  .footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 20px; /* Set the fixed height of the footer here */
				line-height: 20px; /* Vertically center the text there */
			  }
			  
		</style>

	</body>
</html>
